.build
.idea
.gulp
.imdone
.temp
.todos
.TODOs

/assets/bin
/assets/css/*.css
/assets/css/maps
/assets/images/raw
/assets/components
/assets/views/cache/*.php
/assets/vendor

*.deps.json
*.js.map

node_modules

composer.lock
npm-debug.log
yarn-error.log

environment.yml
.env
.ftpconfig

*.WinMerge
