.build
.idea
.sass-cache
.gulp
.imdone
.temp

/assets/bin
/assets/css/maps
/assets/components
/assets/views/cache
/assets/packages/jquery
/assets/vendor
/node_modules

/x-local-*

composer.lock
npm-debug.log

environment.yml
