@import "../../../../sass/modules/all";
@import "../../../../sass/partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////
$brand-success: #5cb85c !default;
$brand-info:    #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger:  #d9534f !default;

////////////////////////////////////////////////////////////////////////////////
.main-app-wrap {
  box-sizing: border-box;

  *,
  *::after,
  *::before,
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

.grid-wrap {
  margin-bottom: 1rem;

  > .description {
    margin-left: .25rem;

    &.initial {
      color: gray;
    }
    &.saved {
      color: $brand-success;
    }

    &.wrong {
      color: $brand-danger;
    }
  }
}

.app-table {
  // http://jsfiddle.net/mr_eirenaios/WFYBG/1/

  width: 100%;
  color: #333;
  background-color: #fff;
  border-collapse: collapse;
  margin-bottom: .5rem;
  padding: 1em;

  tr {
    &.is-editing {
      background-color: $brand-warning;
    }
  }

  th {
    font-weight: 700;
    text-align: left;
    background-color: #ddd;

    // &.readonly { }

    &.required::after {
      content: "*";
      color: $brand-danger;
      margin-left: .125rem;
    }

    &.index {
      width: 25px;
      text-align: center;
    }

    &.field-age,
    &.field-mass,
    &.field-stature,
    &.field-grade,
    &.field-count,
    &.field-year {
      width: 45px;
	  }

    &.field-identity {
      width: 80px;
	  }

    &.field-bankname {
     width: 140px;
    }

    &.field-people,
    &.field-label,
    &.field-fullname {
     width: 240px;
    }

    &.field-account {
     width: 180px;
    }

    &.field-iban {
     width: 220px;
    }

    &.field-datestart,
    &.field-dateend,
    &.field-duration,
    &.field-platenumber,
    &.field-phone,
    &.field-contact {
      width: 110px;
    }

    &.field-vin,
    &.field-card {
     width: 145px;
    }

    &.field-type,
    &.field-color,
    &.field-status,
    &.field-topic,
    &.field-location,
    &.field-relation,
    &.field-education,
    &.field-occupation {
      width: 125px;
    }

    &.field-desc {
      width: auto;
    }

    &.field-time,
    &.field-date,
    &.field-dob {
      width: 80px;
    }

    // WTF: must came from field options!
    &.field-pushup_onemin,
    &.field-situp_onemin,
    &.field-highbar_onemin,
    &.field-running_1600m,
    &.field-sprint_60m {
      width: 100px;
    }

    &.actions {
      width: 125px;
      text-align: center;
      position: relative;

      &.is-frozen {
        width: 75px;
        text-align: left;
      }

      span.spinner {
        position: absolute;
        right: 2px;
      }
    }
  }

  th,
  td {
    padding: 0.5em;
    border: 1px solid #ccc;
    line-height: initial;
  }

  td {
    &.plus,
    &.index {
      padding: 0.5em 0;
      font-weight: 700;
      background-color: #ddd;
      text-align: center;
    }

    &.actions {
      padding: 0;
      background-color: #f6f6f6;

      > div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
    }

    &.field-is-readonly {
      background-color: #f6f6f6;
    }

    &.form {
      padding: 0;
    }

    &.is-searchable {
      position: relative;
    }

    .-search-button {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      padding: .5em .25em;
      color: #ddd !important;
    }

    &.is-read-only {
      background-color: #f6f6f6;
      padding: 0 !important;

      > div {
        cursor: help;
        padding: 0.5em;
      }
    }

    &.is-not-valid {
      background-color: $brand-danger;

      input {
        // border-color: $brand-danger !important;
        box-shadow: 0 0 0 1px $brand-danger;
      }
    }
  }

  // span.-field-is-readonly {}

  td,
  span,
  input {
    &.field-pushup_onemin,
    &.field-situp_onemin,
    &.field-highbar_onemin,
    &.field-running_1600m,
    &.field-sprint_60m,
    &.field-age,
    &.field-mass,
    &.field-stature,
    &.field-grade,
    &.field-vin,
    &.field-year,
    &.field-identity,
    &.field-contact,
    &.field-phone,
    &.field-dob,
    &.field-date,
    &.field-account,
    &.field-iban,
    &.field-card {
      // HACK: `rtl:ignore` not working!
      body.rtl & {
        text-align: right;
        /*rtl:ignore*/
        direction: rtl;
      }
    }

    &.-is-valid {
      color: $brand-success;
    }

    &.-is-not-valid {
      color: $brand-danger;
    }
  }
}
