<div class="-wrap -term-cards">
	{{#terms}}
		<div class="card -card">
			<h2 class="title -title"><a href="{{link}}">{{name}}</a></h2>
			<div class="description -description">{{{description}}}</div>
		</div>
	{{/terms}}
</div>
