<div class="-wrap -title-actions">
	{{#__can_edit}}
		<a class="button button-small -print-hide-inline" data-action="edit" href="{{{__can_edit}}}"><span class="dashicons dashicons-edit-large"></span></a>
	{{/__can_edit}}
	{{#__can_print}}
		<a class="button button-small -print-hide-inline" data-action="print" href="#"><span class="dashicons dashicons-printer"></span></a>
	{{/__can_print}}
	{{#__can_export}}
		<a class="button button-small -print-hide-inline" data-action="export" href="#"><span class="dashicons dashicons-download"></span></a>
	{{/__can_export}}
	{{#__can_debug}}
		<a class="button button-small -print-hide-inline" data-action="debug" href="#"><span class="dashicons dashicons-buddicons-replies"></span></a>
	{{/__can_debug}}
</div>
