////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@use "sass:color";

////////////////////////////////////////////////////////////////////////////////
@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/admin.all";
@import "partials/admin.credits";
@import "partials/admin.help";
@import "partials/admin.table";
@import "partials/admin.settings";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/icon.all";
@import "partials/spinner.all";
// @import "partials/ortho.admin.all";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "vendor/animate";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.geditorial-admin-wrap.geditorial-settings {

  // on each module settings
  > .-header {
    margin: 1em 0;

    h4 {
      font-size: 1.2em;
      line-height: 1.1;
      margin: 1em 0;
      padding: 0;
    }

    p {
      font-size: 16px;
      line-height: 22px;
      margin: 0.5em 0;
    }
  }

  // settings sections
  // .-section-wrap {}
  // .-section-table {}
  // .-section-title {}
  // .-section-description {}

  .-section-empty {
    margin-bottom: 3em;
  }

  .fields_option_section .-section-title {
    font-size: inherit !important;
    font-family: inherit !important;
    // font-weight: inherit !important;
    margin-bottom: -3em;
  }

  .fields_option_section.fields_option_none .-section-title {
    margin-bottom: 1em;
  }

  // quicktags
  .ed_button {
    margin: 0 2px 2px 0;
  }

  // on main settings
  .modules {

    box-sizing: border-box;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;

    &:empty {
      min-height: $spacer * 1.75;

      &::after {
        left: 0;
        right: 0;
        top: $spacer * .5;
        position: absolute;
        content: attr(data-empty);
        text-align: center;
        color: $gray-light;
        font-size: $spacer;
        font-weight: 600;
      }
    }

    .module {
      box-sizing: border-box;
      position: relative;

      margin: 0 $spacer $spacer 0;
      padding: $spacer * .5;

      // 5x3
      width: 240px;
      min-height: 144px;

      float: left;
      border: 1px solid #e1e1e1;
      border-radius: 1px;
      // cursor: pointer;

      &.-disabled {
        opacity: 0.5;
        transition: all 0.3s ease;
      }

      &:hover,
      &.-enabled,
      &.-spinning {
        opacity: 1;
        transition: all 0.1s ease;
      }

      > .-title {
        color: $gray-darker;
        margin: 2px 0 5px;
        padding: 0;

        a {
          cursor: alias;
          color: inherit;
          text-decoration: none;
          transition: all 0.3s ease;

          &:hover {
            color: $gray-light;
            transition: all 0.1s ease;
          }

          &:focus {
            box-shadow: none;
          }
        }

        code,
        span {
          cursor: help;
          display: inline-block;
          font-size: x-small;
          line-height: 1;
          color: $brand-info;
          vertical-align: middle;
          border: 1px solid $gray-light;
          border-radius: 2px;
          padding: 3px 3px 2px;
        }

        code.-access-alpha,
        span.-access-alpha,
        code.-access-planned,
        span.-access-planned {
          color: $brand-danger;
        }

        code.-access-beta,
        span.-access-beta {
          color: $gray; // $brand-warning;
        }

        code.-access-private,
        span.-access-private {
          color: $brand-success;
        }
      }

      > .-description {
        font-size: 12px;
        line-height: 1.5; // 150%;
      }

      > .-wrap.-message,
      > .-wrap.-actions {
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        right: 10px;
        width: 100%;
        margin: 0 0 10px;
        padding: 0 0 0 20px;
      }

      > .-wrap.-message {
        cursor: help;
      }

      .-wrap.-info,
      .-wrap.-warning,
      .-wrap.-danger {
        font-size: smaller;
      }

      .wrap.-autoloaded {
        line-height: 2;
      }

      .-button {
        font-weight: 400;
        margin: 0;
        border-radius: 2px;
      }

      .button-primary {
        float: right;
      }

      // .button-secondary {}

      .-wrap.-danger,
      .-wrap.-danger a,
      .-button-danger {
        color: $brand-danger;
        text-decoration: none;

        &:hover {
          color: color.adjust($brand-danger, $lightness: -20%);
        }
      }

      .geditorial-icon svg,
      .geditorial-icon img,
      .dashicons {
        color: $gray; // for dashicon
        fill: $gray; // for svg
        font-size: 38px;
        height: 38px;
        width: 38px;
      }

      .spinner {
        margin: 0;
      }

      .geditorial-icon,
      .dashicons,
      .spinner {
        float: right;
        clear: left;
      }
    }
  }
}

@media screen and (max-width: 782px) {
  .geditorial-admin-wrap.geditorial-settings {
    .modules {
      .module {
        width: 100%;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import "partials/admin.afterall";
