@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/admin.all";
@import "partials/admin.help";
@import "partials/admin.table";
@import "partials/admin.glance";
@import "partials/admin.settings";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/icon.all";
@import "partials/spinner.all";
@import "partials/sortable.all";
@import "partials/listtable.admin.all";
@import "partials/uploadarea.admin.mixins";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/omni.admin.dashboard";
@import "partials/remoted.admin.dashboard";
@import "partials/schedule.admin.dashboard";
@import "partials/uploader.admin.dashboard";
@import "partials/users.admin.dashboard";
@import "partials/warehouse.admin.dashboard";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// @import "partials/garden.admin.all";
@import "partials/tweaks.admin.all";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
.postbox.geditorial-wrap.-admin-postbox-term-summary,
.postbox.geditorial-wrap.-admin-postbox-dashboard-summary {
  .inside {
    padding: 0;
  }
}

////////////////////////////////////////////////////////////////////////////////
.inside ul.-pointers li {

  // Terms Module
  .-uncategorized-count::before {
    color: $brand-warning !important;
    content: "\f223" !important;
  }
}

////////////////////////////////////////////////////////////////////////////////
#dashboard-widgets-wrap { // core's

  // tables within widgets
  .base-table-wrap {
    th.-column {
      font-size: smaller;
      font-weight: 600;
    }

    .-column-modified {
      width: 22%;
    }

    .-column-author {
      width: 22%;
    }

    .-column-status {
      width: 22%;
    }

    .-column-follow {
      width: 20px;
    }

    .-cell-follow,
    .-cell-author {
      a {
        color: $gray-light;

        &:hover {
          color: $gray;
        }
      }
    }

    .-cell-author,
    .-cell-modified {
      font-size: smaller;
      line-height: inherit;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import "partials/admin.afterall";
