@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/admin.all";
@import "partials/admin.help";
@import "partials/admin.table";
@import "partials/admin.editor";
@import "partials/admin.metabox";
@import "partials/admin.attachment-pot";
@import "partials/admin.layout";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/icon.all";
@import "partials/spinner.all";
@import "partials/wordcount.all";
@import "partials/listtable.admin.all";
@import "partials/today.all.mixins";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/attachments.admin.post";
@import "partials/activities.admin.post";
@import "partials/comments.admin.post";
@import "partials/drafts.admin.post";
@import "partials/letter.admin.post";
@import "partials/specs.admin.post";
@import "partials/series.admin.post";
@import "partials/magazine.admin.post";
@import "partials/revisions.admin.post";
@import "partials/tweaks.admin.post";
@import "partials/workflow.admin.post";
@import "partials/today.admin.post";
@import "partials/people.admin.post";
@import "partials/next-of-kin.admin.post";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/ortho.admin.all";
@import "partials/pointers.admin.mixins";
@import "partials/subcontents.admin.mixins";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/sortable.all";
@import "partials/select2.all";
@import "partials/o2obox.admin";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////
// body.readonly-posttype-title {}
// body.disable-posttype-slug {}
// body.disable-posttype-author {}

body.disable-posttype-password .postbox .inside .misc-pub-section.misc-pub-visibility,
body.disable-posttype-tinymce #content-tmce.wp-switch-editor.switch-tmce,
body.disable-posttype-date div.misc-pub-section.curtime.misc-pub-curtime {
  display: none;
}

////////////////////////////////////////////////////////////////////////////////
.submitbox {
  .-wrap.-post-actions {
    margin-bottom: $spacer * .5;

    select {
      width: 100%;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
#geditorial-readonlytitle {
  @include theme-fonts-core-native;
  font-size: large;
  font-weight: 600;
  margin-bottom: .25rem;
  padding: .5rem .5rem;
  border: 2px dashed #e9e9e9;
  background: #fff;
  position: relative;

  body.rtl & {
    font-family: Arial, sans-serif;
  }

  .-field-after {
    position: absolute;
    right: .5rem;
    top: .35rem;
  }
}

.-wrap.-fipa-summary,
.-wrap.-global-summary,
.-wrap.-meta-summary {
  background: #fff;
  margin-top: .5rem;

  h3 + &,
  h4 + & {
    margin-top: -.5rem;
  }

  + p.-wrap-buttons {
    margin-top: .5rem;
  }

  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px dashed #e9e9e9;

    th,
    td {
      border: 1px solid #e9e9e9;
      padding: .25rem .5rem;
    }


    td {
      // padding: .25rem .5rem;
    }

    td:nth-child(1) {
      // text-align: right;
    }
  }

  .-is-valid {
    color: $brand-success !important;
  }

  .-not-valid {
    color: $brand-danger !important;
  }
}

.-wrap.-double-column-table {
  table td:first-of-type {
    width: 35%;
    text-align: right;
  }
}

.-wrap.-multiple-column-table {
  .base-table-simple {
    font-size: smaller;

    a:not(:hover) {
      color:inherit;
      text-decoration: none;
    }

    th[data-key="title"] {
      width: auto;
    }

    th[data-key="type"] {
      width: 85px;
    }

    th[data-key="venue"] {
      width: 22%;
    }

    th[data-key="date"] {
      width: 50px;
    }

    th[data-key="index"] {
      width: 22px;
    }

    th[data-key="totalhours"],
    th[data-key="totaldays"] {
      width: 30px;
    }

    th[data-key="index"],
    td[data-key="index"],
    th[data-key="totalhours"],
    th[data-key="totaldays"],
    td[data-key="totalhours"],
    td[data-key="totaldays"],
    th[data-key="date"],
    td[data-key="date"] {
      text-align: center;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
#titlediv {
  #title-prompt-text {
    z-index: 2; // ortho wrap make placeholder disappear
  }
}

#postbox-container-after-title {
  float: none;

  > .meta-box-sortables {
    min-height: 10px; // to show the drop spot
    margin: 10px 0 0;
  }

  > .empty-container {
    height: 30px;
    margin-bottom: 10px;
  }
}

#wp-content-editor-tools {
  padding-top: 0 !important;
}

// .geditorial-wrap.-edit-form-after-title,
// .geditorial-wrap.-admin-postbox.geditorial-meta-field-lead {
//   margin: 10px 0 0;
// }

////////////////////////////////////////////////////////////////////////////////
// SubContents: DataGrid
.postbox.-subcontent-grid-metabox {
  @include plugin-subcontent-datagrid-metabox-id;
  @include plugin-subcontent-datagrid-table-simple;

  .-wrap.-admin-metabox {
    @include plugin-subcontent-datagrid-metabox-wrap;
  }
}

////////////////////////////////////////////////////////////////////////////////
.postbox > .inside {
  .geditorial-wrap.-pointers {
    @include plugin-pointers-metabox-wrap;
  }
}

////////////////////////////////////////////////////////////////////////////////
.geditorial-wrap.-admin-postbox.-workflow-mainbox,
.geditorial-wrap.-admin-postbox.-datacodes-mainbox {
  .inside,
  .-admin-metabox {
    margin: 0;
    padding: 0;
  }

  .-browse-revisions {
    float: left;
  }
}

// Module: Meta
.geditorial-admin-posttitle {
  box-sizing: border-box;
  width: 100%;
  // margin: 0;
  padding: 3px 8px;
  font-size: 1.3em;

  &.geditorial-meta-type-title_before {
    margin: 0 0 5px;
  }

  &.geditorial-meta-type-title_after {
    margin: 2px 0 10px;
  }
}

////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 782px) {
  .geditorial-admin-wrap.-revisions .-purge {
    float: left;
  }

  .geditorial-admin-wrap-inline.-revisions {
    span.-datetime,
    a.button .-text {
      display: none;
    }

    a.button .dashicons {
      width: 24px;
      height: 24px;
      font-size: 24px;
      margin: 0;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import "partials/admin.afterall";
