@import 'modules/all';
@import 'partials/base';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import 'partials/admin.all';
@import 'partials/admin.help';
@import 'partials/admin.table';
@import 'partials/admin.rows';
@import 'partials/admin.glance';
@import 'partials/admin.settings';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import 'partials/icon.all';
@import 'partials/spinner.all';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import 'partials/audit.admin.dashboard';
@import 'partials/calendar.admin.dashboard';
@import 'partials/users.admin.dashboard';
@import 'partials/omni.admin.dashboard';
@import 'partials/tweaks.admin.all';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import 'partials/sortable.all';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

#dashboard-widgets-wrap {

  // tables whitin widgets
  .base-table-wrap {

    .-column-modified {
      width: 22%;
    }

    .-column-author {
      width: 22%;
    }

    .-column-follow {
      width: 20px;
    }

    .-cell-follow,
    .-cell-author {
      @include link-colors($gray-light, null, $gray);
    }
  }
}
