@import 'modules/all';
@import 'partials/base';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import 'partials/admin.all';
@import 'partials/admin.help';
@import 'partials/admin.table';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// @import 'partials/ortho.admin.all';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.geditorial-admin-wrap-column {}

.fixed {

  th.column-counts {
    width: 220px;
  }

  .column-counts {
    table td {
      padding: 0 0 2px;

      code {
        cursor: pointer;
      }
    }
  }
}
