@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/admin.all";
@import "partials/admin.table";
@import "partials/admin.settings";
// @import "partials/admin.sidebyside";
@import "partials/admin.newpost";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/icon.all";
@import "partials/spinner.all";
@import "partials/noscript.all";
@import "partials/listtable.admin.all";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/subcontents.admin.mixins";
@import "partials/signalframe.admin.mixins";
@import "partials/imagecards.admin.mixins";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// @import "partials/person.admin.iframe";
@import "partials/next-of-kin.admin.iframe";
@import "partials/audit.admin.iframe";
@import "partials/tabloid.admin.iframe";
@import "partials/static-covers.admin.iframe";
@import "partials/wc-purchased.admin.iframe";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
body.admin_page_geditorial-code-pond-signal,
body.admin_page_geditorial-dead-drops-signal {
  @include plugin-signalframe-body;
}

.wrap.geditorial-signal-code_pond,
.wrap.geditorial-signal-dead_drops {
  @include plugin-signalframe-wrap;
}

////////////////////////////////////////////////////////////////////////////////
.geditorial-admin-wrap {
  margin: 0 !important;

  > p.-description.-empty {
    margin: ($spacer * 3) ($spacer * 2);
    text-align: center;
    font-size: larger;
    color: $gray-light;
  }

  .wrap-title {
    .-title {
      margin: .75rem 0;
    }

    a:not(:hover) {
      color: inherit;
      text-decoration: none;
    }
  }

  table.base-table-list {
    margin-top: .5rem;
  }

  .-wrap.-table-content {
    padding: .5rem .5rem 0;
  }

  @include plugin-subcontent-datagrid-table-simple;

  .base-table-simple {
  	font-size: smaller;

    td,
    th {
      padding: 2px 3px;
      line-height: inherit;

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          color: $gray-dark;
          text-decoration: underline;
        }
      }
    }
}
}

////////////////////////////////////////////////////////////////////////////////
.-wrap.-title-actions {
  display: inline-block;
  float: right;
  clear: right;
  margin-top: - (.25rem);

  span.-today {
    display: inline-block;
    margin: 0 ($spacer * .5);
  }

  a {
    padding: 1px 4px 0 !important;
    cursor: pointer;
    color: inherit;

    + a {
      margin-left: .25rem;
    }

    .dashicons {
      vertical-align: middle;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
.-wrap.-comments-summary,
.-wrap.-custom-summaries,
.-wrap.-terms-summary,
.-wrap.-meta-summary {
  margin: .75rem 0 .5rem;
}

.-wrap.-terms-summary,
.-wrap.-comments-summary,
.-wrap.-meta-summary {
  background: #fff;

  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px dashed #e9e9e9;

    th,
    td {
      border: 1px solid #e9e9e9;
    }

    td {
      padding: .25rem .5rem;
      // line-height: initial;

      &:last-of-type {
        width: 65%;
      }
    }

    td:nth-child(1) {
      // text-align: right;
    }
  }

  .-is-valid {
    color: $brand-success !important;
  }

  .-not-valid {
    color: $brand-danger !important;
  }
}

.-wrap.-comments-summary {
  font-size: smaller;

  td.-comment-date {
    width: 55px;
    text-align: center;
    vertical-align: middle;
  }

  td.-comment-author {
    width: 110px;

    img {
      max-height: 20px;
      width: auto;
      vertical-align: middle;
    }
  }

  td.-comment-content {
    width: auto !important;
    p {
      font-size: inherit;
      margin: 0;
      + p {
        margin-top: $spacer * .5;
      }
    }
  }
}

.-wrap.-image-summaries {
  @include plugin-imagecards-wrap;
}

.-wrap.-custom-summaries {
  .-wrap.-summary {
    margin: 0 0 1rem;

    // &.-table-summary {}


    &.-paired-summary {
      // WORKING: BUT NOT USED
      // .-list ul {
      //   margin: 0 0 1rem 0;
      //   display: flex;
      //   flex-wrap: wrap;
      //   font-size: smaller;

      //   li {
      //     background: #ece9e6;
      //     margin: 0 .25rem .25rem 0;
      //     padding: .125rem .25rem;
      //     border-radius: .125rem;
      //   }

      //   a:not(:hover) {
      //     color: inherit;
      //     text-decoration: none;
      //   }
      // }
    }
  }

  .-summary-title {
    margin: 0 0 .125rem .25rem;
  }

  .-summary-content {

    .field-wrap {
      margin-bottom: 2px;

      &.-buttons {
        margin-top: $spacer * .25;

        &:last-of-type {
          margin-bottom: - $spacer * .25;
        }

        .-button {
          margin-bottom: 4px;

          + .-button {
            margin-left: $spacer * .25;
          }
        }

        .-button-icon {
          padding-left: 5px;

          .dashicons {
            position: relative;
            top: 3px;
            right: 3px;

            &::before {
              color: $gray-light;
              font-size: 20px;
            }
          }

          .-iconsvg {
            margin: 0 2px 0 -2px;

            svg {
              width: 22px;
              height: 20px;
              vertical-align: text-top;
              color: $gray-light;
            }
          }
        }
      }
    }
  }

  // .-wrap-rows {}
}

.-wrap.-term-cards {
  // margin: .75rem 0 .5rem;

  .-card {
    margin-top: $spacer;
    padding: ($spacer * .5) ($spacer * 1.5) ($spacer * .5);
    max-width: 100%;
  }

  .-title {
    font-size: small;

    a:not(:hover) {
      color: inherit;
      text-decoration: none;
    }
  }

  // .-description {}
}

.-wrap.side-wrap {
  display: flex;

  > .-side-side {
    width: 36%;
    padding-right: ($spacer * .25);
    padding-top: ($spacer * .75);
    // max-width: 120px;
  }

  > .-side-main {
    flex-grow: 1;
    padding-left: ($spacer * .25);
  }

  div.-side-image,
  div.-cover-image {
    width: 165px;

    img {
      max-width: 100%;
      height: auto;
      display: inline-block;

      // width: auto;
      // max-width: 100%;
      // max-height: 220px;
      border: 3px dashed #e9e9e9;
    }
  }

  div.-qrcode-vcard {
    width: 165px;

    // max-height: 165px;
    // max-width: 100%;
    // width: auto;

    border: 3px dashed #e9e9e9;

    svg {
      max-width: 100%;
      height: auto;

      display: block;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
.-wrap.list-columns {
  font-size: smaller;

  // &.-post-columns {}
  // &.-term-columns {}

  > ul {
    columns: 4;
    column-gap: $spacer * 0.25;

    li {
      margin: 0 0 ($spacer * 0.5) ($spacer * 0.25);

      a {
        display: block;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        border-radius: $spacer * 0.125;
        text-decoration: none;
        padding: ($spacer * 0.25) ($spacer * 0.5);
        color: var(--custom-link-color, inherit);
        background-color: var(--custom-link-background, #ece9e6);

        &:hover {
          text-decoration: underline;
          background-color: #ece9e6;
          color: #333;
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
.-wrap.editorial-app {
  padding: $spacer * .5;

  > .-description {
    // &.-wrong {}

    &.-moment {
      padding: $spacer;
      text-align: center;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@media screen and ( max-width: 782px ) {
  .-wrap.side-wrap {
    div.-side-image,
    div.-cover-image,
    div.-qrcode-vcard {
      width: 110px;
    }
  }

  .-wrap.list-columns ul {
    columns: 2;
  }
}
////////////////////////////////////////////////////////////////////////////////
/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import "partials/admin.afterall";
