////////////////////////////////////////////////////////////////////////////////
@use "sass:color";
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/drafts.adminbar.all";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
#wpadminbar {

  // here must be restricted to adminbar only
  @import "partials/icon.all";
  @import "partials/spinner.all";

  .geditorial-adminbar-node {
    > a.ab-item {
      position: relative;

      > .geditorial-spinner {
        bottom: 0;
        left: 0;
        margin: 6px auto 0 !important;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  .geditorial-adminbar-wrap {
    &.geditorial-audit {
      .ab-empty-item {
        font-size: smaller;
      }
    }
  }

  .geditorial-adminbar-box-wrap {
    width: 210px;

    ul {
      padding: 0 10px;
      margin: 0;
    }

    @include theme-form-checkbox-radio;

    input[type="checkbox"] {
      background-color: #464b50;
    }
  }

  .geditorial-adminbar-desc-wrap,
  .geditorial-adminbar-image-wrap {
    width: 210px;
    padding: 0 10px;
    margin: 0;

    .ab-item.ab-empty-item {
      display: none;
    }
  }

  .geditorial-adminbar-desc-wrap {
    p {
      height: auto;
      white-space: normal;
      line-height: 1.6;
      font-size: smaller;
    }
  }

  .geditorial-adminbar-image-wrap {
    a {
      height: auto;
      padding: 0;
      display: inline-block;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
#wp-admin-bar-geditorial {
  > a {
    padding: 0 5px !important;
  }

  span.-count {
    background: $gray-lighter;
    color: $gray-dark;
    margin: 0;
    border-radius: 10px;

    display: inline;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: 700;
    text-shadow: none;
  }

  code {
    background: $gray-lighter;
    color: $gray-dark;
  }

  // ajax responses
  div.notice p {
    padding: 0 10px;
    margin: 0;
    line-height: 26px;
  }

  // .ab-submenu .ab-item {
  //   > .geditorial-spinner {}
  // }

  li.-danger .ab-item {
    color: $brand-danger !important;

    &:hover {
      color: color.adjust($brand-danger, $lightness: -20%) !important;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 782px) {
  #wpadminbar {
    li.geditorial-adminbar-node.-identified {
      display: block !important;
      position: static;
    }
  }
}
