@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
@import "vendor/colorbox";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.rtl {
  #cboxClose {
    right: auto;
    left: 5px;
  }

  #cboxTitle {
    left: auto;
    right: 0;
  }
}

#cboxLoadedContent {
  background: #f1f1f1; // default wp admin background color
}

#cboxLoadingGraphic {
  background: url(../packages/jquery-colorbox/loading.gif) no-repeat center center;
}

#cboxClose {
  background: url(../packages/jquery-colorbox/controls.png) no-repeat top center;
  top: 4px;
  left: 5px;
  right: auto;
}

#cboxPrevious {
  background: url(../packages/jquery-colorbox/controls.png) no-repeat top left;
}

#cboxNext {
  background: url(../packages/jquery-colorbox/controls.png) no-repeat top right;
}
