@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/admin.all";
@import "partials/admin.help";
@import "partials/admin.table";
@import "partials/admin.editor";
@import "partials/admin.metabox";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/icon.all";
@import "partials/spinner.all";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/letter.admin.post";
@import "partials/specs.admin.post";
@import "partials/series.admin.post";
@import "partials/magazine.admin.post";
@import "partials/tweaks.admin.post";
@import "partials/revisions.admin.post";
@import "partials/activities.admin.post";
@import "partials/drafts.admin.post";
@import "partials/workflow.admin.post";
@import "partials/activities.admin.all";
@import "partials/ortho.admin.all";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/sortable.all";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.geditorial-wrap.-edit-form-after-title,
.geditorial-wrap.-admin-postbox.geditorial-meta-field-le {
  margin: 10px 0 0;
}

.geditorial-wrap.-admin-postbox.-workflow-main {
  .inside,
  .-admin-metabox {
    margin: 0;
    padding: 0;
  }

  .-browse-revisions {
    float: left;
  }
}

// Module: Meta
.geditorial-admin-posttitle {
  @extend %box-reset;
  font-size: 1.3em;
  padding: 3px 8px;
  width: 100%;

  &.geditorial-meta-field-ot {
    margin: 0 0 5px;
  }

  &.geditorial-meta-field-st {
    margin: 2px 0 10px;
  }
}
