@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/admin.all";
@import "partials/admin.help";
@import "partials/admin.table";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/icon.all";
@import "partials/spinner.all";
@import "partials/wordcount.all";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/ortho.admin.all";
@import "partials/terms.admin.all";
@import "partials/tweaks.admin.all";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/recount.admin.edit-tags";
@import "partials/warehouse.admin.edit-tags";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.wp-list-table {
  .column-cover {
    width: 45px;
    padding: 2px;

    img {
      max-width: 50px;
      max-height: 60px;
    }
  }

  // Module: Alphabets
  .column-alphabet {
    width: 35px;
  }

  // Module: Users
  .column-users {
    width: 74px; // column posts
  }
}
