@import 'modules/all';
@import 'partials/base';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import 'partials/admin.all';
@import 'partials/admin.help';
@import 'partials/admin.table';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// @import 'partials/ortho.admin.all';
@import 'partials/adminbar.all';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import 'vendor/animate';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.geditorial-admin-wrap.geditorial-settings {
  @include mainwrap();

  margin: 10px 20px 0 2px;
  @include body-rtl() {
    margin: 10px 2px 0 20px;
  }

  // on each module settings
  .-header {
    margin: 1em 0;

    h4 {
      font-size: 1.2em;
      line-height: 1.1;
      margin: 1em 0;
      padding: 0;
    }

    p {
      font-size: 16px;
      line-height: 22px;
      margin: 0.5em 0;
    }
  }

  // settings sections
  .-section-wrap {}
  .-section-table {}
  .-section-title {}
  .-section-description {}
  .-section-empty {
    margin-bottom: 3em;
  }

  .fields_option_section .-section-title {
    font-size: inherit !important;
    font-family: inherit !important;
    // font-weight: inherit !important;
    margin-bottom: -3em;
  }

  .fields_option_section.fields_option_none .-section-title {
    margin-bottom: 1em;
  }

  // on main settings
  .modules {
    margin-top: 20px;
    overflow: hidden;
    width: 100%;

    .module-enabled {}

    .module-disabled {
      opacity: 0.5;
      transition: all 0.3s ease;
    }

    .module {

      &:hover,
      &.module-spinning {
        opacity: 1;
        transition: all 0.1s ease;
      }

      border: 1px solid #e1e1e1;
      border-radius: 3px;
      cursor: pointer;
      float: left;
      margin: 0 15px 15px 0;
      min-height: 150px;
      padding: 10px;
      position: relative;
      width: 210px;

      @include body-rtl() {
        float: right;
        margin: 0 0 15px 15px;
      }

      h3 {
        color: $gray-darker;
        margin: 2px 0 0;
        padding: 0;

        a {
          color: inherit;
          text-decoration: none;
          &:hover {
            color: $gray;
            text-decoration: underline;
          }
        }
      }

      p {
        font-size: 12px;
        line-height: 150%;
      }

      .actions {
        bottom: 0;
        margin: 0 0 10px;
        padding: 0 0 0 20px;
        position: absolute;
        right: 10px;
        width: 210px;
        @include body-rtl() {
          left: 10px;
          padding: 0 20px 0 0;
          right: auto;
        }
      }

      .button {
        font-weight: normal;
        margin: 0;
      }

      .button-primary {
        float: right;
        @include body-rtl() {
          float: left;
        }
      }

      .button-secondary {}
      .button-configure {}
      .button-toggle {}

      .button-remove {
        color: $brand-danger;
        &:hover {
          color: darken($brand-danger, 20%);
        }
      }

      .dashicons {
        color: $gray;
        font-size: 24px;
        height: 24px;
        width: 24px;
      }

      .spinner {
        margin: 0;
      }

      .dashicons,
      .spinner {
        float: right;
        @include body-rtl() {
          float: left;
        }
      }
    }
  }
}
