@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/admin.all";
@import "partials/admin.help";
@import "partials/admin.table";
@import "partials/admin.quickedit";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/icon.all";
@import "partials/spinner.all";
@import "partials/today.all.mixins";
// @import "partials/ortho.admin.all"; // TODO: support ortho on `edit` screens
@import "partials/tweaks.admin.all";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/book.admin.edit";
@import "partials/drafts.admin.edit";
@import "partials/magazine.admin.edit";
@import "partials/today.admin.edit";
@import "partials/tweaks.admin.edit";
@import "partials/meta.admin.edit";
@import "partials/users.admin.edit";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
// body.readonly-posttype-title {}
// body.disable-posttype-tinymce {}
// body.disable-posttype-slug {}
// body.disable-posttype-author {}

body.disable-posttype-date .inline-edit-row fieldset.inline-edit-date,
body.disable-posttype-password .inline-edit-row fieldset.inline-edit-date + br.clear + div.inline-edit-group.wp-clearfix {
  display: none;
}

////////////////////////////////////////////////////////////////////////////////
.wp-list-table {

  // Module: `Meta`
  th.column-geditorial-meta {
    width: auto; // default is auto
  }

  // Module: `ISBN`
  th.column-geditorial-isbn {
    width: 25ch; // default for gtin is `20ch`
  }

  // Module: `Units`
  th.column-geditorial-units {
    width: 95px;
  }

  // Module: `Entry`
  .column-taxonomy-entry_section {
    width: 8%;
  }

  // Module: `Magazine`
  .column-taxonomy-issue_span {
    width: 72px;
  }

  .column-taxonomy-issues {
    width: 120px;
  }
}

////////////////////////////////////////////////////////////////////////////////
body.woocommerce-admin-page {
  // only if `Tweaks` not enabled and we have product cat/tag/brand columns.
  &.post-type-product:not(.geditorial-tweaks-enabled) {
    .wp-list-table {
      th.column-geditorial-meta {
        width: 20ch; // default only on products
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
@media screen and ( max-width: 782px ) {
  .wp-list-table tr {

    // NOTE: columns `before` primary column must be hidden
    .column-taxonomy-entry_section,
    .column-geditorial-tweaks-order,
    .column-geditorial-tweaks-thumb {
      display: none !important;
    }

    .column-geditorial-tweaks-id,
    .column-geditorial-tweaks-thumb {
      text-align: inherit !important;
    }

    &:not(.inline-edit-row):not(.no-items) {
      td:not(.column-primary):not(.check-column) {
        padding: .25rem .5rem .25rem 7rem !important;

        &::before {
          font-weight: 700;
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import "partials/admin.afterall";
