////////////////////////////////////////////////////////////////////////////////
@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/admin.all";
@import "partials/admin.help";
@import "partials/admin.table";
@import "partials/admin.quickedit";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/icon.all";
@import "partials/spinner.all";
@import "partials/today.all.mixins";
@import "partials/ortho.admin.all";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/wc-postal.admin.woocommerce";
@import "partials/wc-identify.admin.woocommerce";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// .wp-list-table {}

////////////////////////////////////////////////////////////////////////////////
table.wc-order-preview-table,
table.woocommerce_order_items {
  tr td {
    .wc-order-item-sku,
    .-wrap.-additional-info {
      font-size: smaller;
      color: #888;
    }

    .-wrap.-additional-info {
      margin-top: -2px;
      code {
        font-size: smaller;
      }
    }

    .wc-order-item-sku {
      + .-wrap.-additional-info {
        margin-top: 0;
      }
    }
  }
}


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import "partials/admin.afterall";
