
@import "modules/all";
@import "partials/base";

@import "editorial/admin.all";
//@import "editorial/admin.edit";
//@import "editorial/like.admin.edit";
//@import "editorial/specs.admin.edit";
@import "editorial/magazine.admin.edit";
@import "editorial/tweaks.admin.edit";

.geditorial-admin-wrap-column {

}


////////////////////////////////////////////////////////////////////////////////
//--ENTRY-----------------------------------------------------------------------

th#entry_order { width:40px !important; }
th.column-taxonomy-section { width:16%;}
th.column-taxonomy-entry_flag { width:80px;}

td.column-entry_order { text-align:right; }
.rtl td.column-entry_order { text-align:left; }
