@import 'modules/all';
@import 'partials/base';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import 'partials/admin.all';
@import 'partials/admin.help';
@import 'partials/admin.table';
@import 'partials/admin.rows';
@import 'partials/admin.quickedit';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import 'partials/book.admin.edit';
@import 'partials/event.admin.edit';
@import 'partials/magazine.admin.edit';
@import 'partials/today.admin.edit';
@import 'partials/tweaks.admin.edit';
@import 'partials/tweaks.admin.all';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// @import 'partials/ortho.admin.all';
@import 'partials/adminbar.all';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.fixed {

  // Module: Entry
  .column-taxonomy-entry_section {
    width: 16%;
  }

  // Module: Magazine
  .column-taxonomy-issue_span {
    width: 72px;
  }

  .column-taxonomy-issues {
    width: 120px;
  }
}

@media screen and ( max-width: 782px ) {

  .wp-list-table tr {

    // columns before primary column must be hidden
    td.column-taxonomy-entry_section,
    th.column-taxonomy-entry_section {
      display: none !important;
    }

    &.is-expanded {

      td.column-theday,
      td.column-taxonomy-entry_section,
      td.column-geditorial-tweaks-order,
      td.column-geditorial-tweaks-thumb {

        padding: 3px 8px 3px 35%;
      }
    }
  }
}
