@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// NOTE: select2 styles without Default/Classic Themes
@import "vendor/select2";
////////////////////////////////////////////////////////////////////////////////
// NOTE: not loading if woo-select (select2 version of woo-commerce) present
