@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "vendor/modern-normalize";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// @import "partials/icon.all";
// @import "partials/spinner.all";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// @import "partials/tube.front.all";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// @import "partials/front.template";
// @import "partials/front.actions";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
html {
  height: 100%;
}

body {
  // min-height: calc( 100% !important;
  min-height: calc( 100% - #{($spacer * 2)} ) !important;
  margin: $spacer;
  // @include theme-box-sizing-reset;

  /*rtl:raw:
  font-family: Vazirmatn,Tahoma,Iranian Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  */
}

body.dropzone {
  > .-title {
    margin: 0;
    font-size: large;
    color: $gray-light;
  }

  > .-wrap.-close-button {
    display: inline-block;
    float: right;

    // button {}
  }
}
