////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// MODULE: Form ---------------------------------------------------------------

// ADD THIS: https://codepen.io/geminorum/pen/MEbwMx

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// @REF: http://stackoverflow.com/a/2610741
// do not group these rules
@mixin theme-form-placeholder() {

  // WebKit, Blink, Edge
  ::-webkit-input-placeholder {
    @content;
  }

  // Mozilla Firefox 4 to 18
  :-moz-placeholder {
    @content;
  }

  // Mozilla Firefox 19+
  ::-moz-placeholder {
    @content;
  }

  // OBSOLETE
  // Internet Explorer 10-11
  // :-ms-input-placeholder {
  //   @content;
  // }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// @REF: http://stackoverflow.com/a/16930313
// do not group these rules
@mixin theme-form-input-placeholder() {

  // WebKit browsers
  input::-webkit-input-placeholder {
    @content;
  }

  // Mozilla Firefox 4 to 18
  input:-moz-placeholder {
    @content;
  }

  // Mozilla Firefox 19+
  input::-moz-placeholder {
    @content;
  }

  // OBSOLETE
  // Internet Explorer 10+
  // input:-ms-input-placeholder {
  //   @content;
  // }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// WordPress default check-box & radio styles
// from admin forms.css
@mixin theme-form-checkbox-radio() {

  // FIXME: default colors

  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box;
    border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: -4px 4px 0 0;
    outline: 0;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    appearance: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: .05s border-color ease-in-out;
  }

  input[type="radio"]:checked + label::before {
    color: #82878c;
  }

  input[type="checkbox"]:checked::before,
  input[type="radio"]:checked::before {
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    font: 400 21px/1 dashicons, sans-serif; // FIXME: needs SVG
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input[type="checkbox"]:checked::before {
    content: "\f147"; // FIXME: needs SVG
    margin: -2px 0 0 -2px;
    color: #1e8cbe;
  }

  input[type="radio"]:checked::before {
    content: "\2022"; // FIXME: needs SVG
    text-indent: -9999px;
    border-radius: 50px;
    font-size: 24px;
    width: 6px;
    height: 6px;
    margin: 4px;
    line-height: 16px;
    background-color: #1e8cbe;
  }
}
