////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// MODULE: LISTS

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@mixin theme-list-reset() {
  @include theme-gutter-reset();
  list-style: none;
  // li:before,
  // li:after {
  //   content: "";
  //   margin: 0;
  //   padding: 0;
  //   display: none;
  // }
}

////////////////////////////////////////////////////////////////////////////////

@mixin theme-list-inline() {
  @include theme-list-reset();

  > li {
    display: inline-block;
    @content;
  }
}

@mixin theme-list-flex() {
  @include theme-list-reset();

  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  // justify-content: center;

  > li {
    @content;
  }
}
