////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// MODULE: TRANSFORM ----------------------------------------------------------

@mixin theme-transform-rotate-90 {
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

@mixin theme-transform-rotate-180 {
  transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

@mixin theme-transform-rotate-270 {
  transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

@mixin theme-transform-flip-horizontal {
  transform: scale(-1, 1);
}

@mixin theme-transform-flip-vertical {
  transform: scale(1, -1);
}
