@import "../../../../sass/modules/all";
@import "../../../../sass/partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////
$brand-success: #5cb85c !default;
$brand-info:    #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger:  #d9534f !default;

////////////////////////////////////////////////////////////////////////////////
.main-app-wrap {
  box-sizing: border-box;

  *,
  *::after,
  *::before,
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

.grid-wrap {
  margin-bottom: 1rem;

  > .description {
    margin-left: .25rem;

    &.initial {
      color: gray;
    }
    &.saved {
      color: $brand-success;
    }

    &.wrong {
      color: $brand-danger;
    }
  }
}

.app-table {
  // http://jsfiddle.net/mr_eirenaios/WFYBG/1/
  
  width: 100%;
  color: #333;
  background-color: #fff;
  border-collapse: collapse;
  margin-bottom: .5rem;
  padding: 1em;

  tr {
    &.is-editing {
      background-color: $brand-warning;
    }
  }

  th {
    font-weight: 700;
    text-align: left;
    background-color: #ddd;

    &.required::after {
      content: "*";
      color: $brand-danger;
      margin-left: .125rem;
    }

    &.field-bankname,
    &.field-fullname {
     width: 140px;
    }

    &.field-account {
     width: 180px;
    }

    &.field-iban {
     width: 220px;
    }

    &.field-card {
     width: 145px;
    }

    &.field-type,
    &.field-status,
    &.field-relation {
     width: 100px;
    }

    &.field-desc {
      width: auto;
    }

    &.actions {
     width: 80px;
     text-align: center;
    }
  }

  th,
  td {
    padding: 0.5em;
    border: 1px solid #ccc;
    line-height: initial;
  }

  td {
    &.actions {
      text-align: right;
      padding: .25rem;

      button + button {
        margin-left: .25rem !important;
      }
    }

    &.form {
      padding: 0;
    }

    &.is-not-valid {
      background-color: $brand-danger;

      input {
        // border-color: $brand-danger !important;
        box-shadow: 0 0 0 1px $brand-danger;
      }
    }
  }

  td,
  input {
    &.field-account,
    &.field-iban,
    &.field-card {
      // HACK: `rtl:ignore` not working!
      body.rtl & {
        text-align: right;
      }
    }

    &.-is-valid {
      color: $brand-success;
    }

    &.-is-not-valid {
      color: $brand-danger;
    }
  }
}
