@import "../../../../sass/modules/all";
@import "../../../../sass/partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////
$brand-success: #5cb85c !default;
$brand-info:    #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger:  #d9534f !default;

////////////////////////////////////////////////////////////////////////////////
.main-app-wrap {
  box-sizing: border-box;

  *,
  *::after,
  *::before,
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

.grid-wrap {
  margin-bottom: 1rem;

  > .description {
    margin-left: .25rem;

    &.initial {
      color: gray;
    }
    &.saved {
      color: $brand-success;
    }

    &.wrong {
      color: $brand-danger;
    }
  }
}

.app-table {
  /* http://jsfiddle.net/mr_eirenaios/WFYBG/1/ */
  width: 100%;
  color: #333;
  background-color: #fff;
  border-collapse: collapse;
  margin-bottom: .5rem;
  padding: 1em;

  tr {
    &.is-editing {
      background-color: $brand-warning;
    }
  }

  th {
    font-weight: 700;
    text-align: left;
    background-color: #ddd;

    &.required::after {
      content: "*";
      color: $brand-danger;
      margin-left: .125rem;
    }

    &.fullname {
     width: 120px;
    }

    &.relation {
     width: 100px;
    }

    &.dob {
      width: 80px;
    }

    &.actions {
     width: 80px;
     text-align: center;
    }
  }

  th,
  td {
    padding: 0.5em;
    border: 1px solid #ccc;
  }

  td {

    &.dob {
      text-align: center;
    }

    &.actions {
      text-align: right;
      padding: .25rem;

      button + button {
        margin-left: .25rem !important;
      }
    }

    &.form {
      padding: 0;
    }

    &.is-not-valid {
      background-color: $brand-danger;
    }
  }
}
