<div class="-wrap -custom-summaries">
	{{#__summaries}}{{#content}}
		<div class="-wrap -summary -{{key}}-summary {{class}}">
			<h4 class="-summary-title">{{{title}}}</h4>
			<div class="-summary-content">{{{content}}}</div>
		</div>
	{{/content}}{{/__summaries}}
</div>
