<div class="-wrap -image-summaries">
	{{#covers}}{{#url}}
		<div class="image_card">
			<div class="image_card-photo_content -{{key}}-image {{class}}">
				<a class="image_card-link" href="{{{postlink}}}">
					<img src="{{{url}}}" class="image_card-photo img-fluid" alt="">
					<div class="image_card-hint">{{{posttitle}}}</div>
				</a>
			</div>
		</div>
	{{/url}}{{/covers}}
</div>
