<div class="-wrap -term-summary"><table class="table table-bordered">
	{{#terms_rendered}}
		<tr class="-term-{{name}}"><td>{{title}}</td><td>{{{rendered}}}</td></tr>
	{{/terms_rendered}}
</table></div>
