<?php

class {{{identifier}}} {

	const DIR       = '{{{target}}}';
	const TOKEN     = '{{{token}}}';
	const HOME      = '{{{home}}}';
	const OVERWRITE = {{{overwrite}}};

	public static function setup()
	{
		self::init();
		self::auth();
		self::handle();
	}

	public static function auth()
	{
		if ( $_SERVER['REQUEST_METHOD'] === 'POST' || isset( $_GET['ready'] ) ) {

			if ( empty( $_REQUEST['token'] ) )
				self::jsonrpc( -32600, 'Authentication Failed.' );

			if ( static::TOKEN !== self::sanitize( $_REQUEST['token'] ) )
				self::jsonrpc( -32600, 'Authentication Failed.' );

			if ( isset( $_GET['ready'] ) )
				self::jsonrpc( FALSE );

		} else if ( static::HOME ) {

			header( 'HTTP/1.1 303 See Other' );
			header( 'Location: '.static::HOME );
			exit;

		} else {

			exit; // silence is golden!
		}
	}

	public static function handle()
	{
		if ( empty( $_FILES ) || $_FILES['file']['error'] )
			self::jsonrpc( 103, 'Failed to move uploaded file.' );

		// TODO: sanitize
		$destination = empty( $_REQUEST['dest'] ) ? '' : self::sanitize( $_REQUEST['dest'] );
		$fileDir     = __DIR__.DIRECTORY_SEPARATOR.'..'.DIRECTORY_SEPARATOR.static::DIR;

		if ( $destination )
			$fileDir.= DIRECTORY_SEPARATOR.$destination;

		if ( ! file_exists( $fileDir ) && ! mkdir( $fileDir, 0777, TRUE ) )
			self::jsonrpc( 100, 'Failed to open target directory.' );

		$fileName = isset( $_REQUEST['name'] ) ? $_REQUEST['name'] : $_FILES['file']['name'];
		$filePath = $fileDir.DIRECTORY_SEPARATOR.$fileName;

		if ( ! static::OVERWRITE && file_exists( $filePath ) )
			self::jsonrpc( 100, 'File already exists on target directory.' );

		$chunk  = isset( $_REQUEST['chunk'] )  ? intval( $_REQUEST['chunk'] )  : 0;
		$chunks = isset( $_REQUEST['chunks'] ) ? intval( $_REQUEST['chunks'] ) : 0;
		$out    = @fopen( $filePath.'.part', $chunk == 0 ? 'wb' : 'ab' );

		if ( $out ) {

			$in = @fopen( $_FILES['file']['tmp_name'], 'rb' );

			if ( $in ) {

				while ( $buff = fread( $in, 4096 ) )
					fwrite( $out, $buff );

			} else {

				self::jsonrpc( 102, 'Failed to open output stream.' );
			}

			@fclose( $in );
			@fclose( $out );
			@unlink( $_FILES['file']['tmp_name'] );

		} else {

			self::jsonrpc( 102, 'Failed to open output stream.' );
		}

		if ( ! $chunks || $chunk == ( $chunks - 1 ) )
			rename( $filePath.'.part', $filePath );

		self::jsonrpc( FALSE );
	}

	// @REF: https://github.com/moxiecode/plupload/blob/2.2.x/examples/upload.php
	public static function init()
	{
		error_reporting( E_ALL );
		ini_set( 'ignore_repeated_errors', 1 );
		ini_set( 'display_errors', FALSE );
		ini_set( 'log_errors', 1 );
		ini_set( 'error_log', __DIR__.DIRECTORY_SEPARATOR.'debug.log' );

		header( 'Expires: Mon, 26 Jul 1997 05:00:00 GMT' );
		header( 'Last-Modified: '.gmdate( 'D, d M Y H:i:s' ).' GMT' );
		header( 'Cache-Control: no-store, no-cache, must-revalidate' );
		header( 'Cache-Control: post-check=0, pre-check=0', FALSE );
		header( 'Pragma: no-cache' );

		header( 'Access-Control-Allow-Origin: *' );
		if ( $_SERVER['REQUEST_METHOD'] == 'OPTIONS' )
			exit; // finish preflight CORS requests here

		// 5 minutes execution time
		@set_time_limit( 5 * 60 );
	}

	public static function sanitize( $text )
	{
		return trim( strip_tags( $text ) );
	}

	// https://www.jsonrpc.org/specification
	public static function jsonrpc( $error = FALSE, $message = NULL )
	{
		$response = [
			'jsonrpc' => '2.0',
			'id'      => NULL,
		];

		if ( $error ) {

			http_response_code( 400 );

			$response['error'] = [
				'code'    => $error ?: '100',
				'message' => $message ?: NULL,
			];

		} else {

			http_response_code( 200 );

			$response['result'] = $message ?: NULL;
		}

		header( 'Content-Type: application/json; charset=utf-8' );
		echo json_encode( $response );
		exit;
	}
}

{{{identifier}}}::setup();
