<?php namespace <%= namespaceAuthor %>\<%= namespaceBase %>\Modules\<%= moduleCamelCase %>;

defined( 'ABSPATH' ) || die( header( 'HTTP/1.0 403 Forbidden' ) );

use <%= namespaceAuthor %>\<%= namespaceBase %>;
use <%= namespaceAuthor %>\<%= namespaceBase %>\Core;
use <%= namespaceAuthor %>\<%= namespaceBase %>\Internals;
use <%= namespaceAuthor %>\<%= namespaceBase %>\Services;
use <%= namespaceAuthor %>\<%= namespaceBase %>\WordPress;

class <%= moduleCamelCase %> extends <%= namespaceBase %>\Module
{
	use Internals\CoreDashboard;
	use Internals\CoreRestrictPosts;
	use Internals\TemplateTaxonomy;

	public static function module(): array
	{
		return [
			'name'     => '<%= moduleUnderline %>',
			'title'    => _x( '<%= moduleTitle %>', 'Modules: <%= moduleTitle %>', '<%= adminTexdomain %>' ),
			'desc'     => _x( '<%= moduleTagline %>', 'Modules: <%= moduleTitle %>', '<%= adminTexdomain %>' ),
			'icon'     => '<%= moduleDashicon %>',
			'access'   => 'planned',
			'keywords' => [
				'cptmodule',
			],
		];
	}

	protected function get_global_settings(): array
	{
		$roles = $this->get_settings_default_roles();

		return [
			// '_general' => [],
			'_roles' => [
				'custom_captype',
				'reports_roles' => [ NULL, $roles ],
			],
			'_supports' => [
				'thumbnail_support',
				$this->settings_supports_option( 'main_posttype' ),
			],
			'_editpost' => [
				'metabox_advanced',
			],
			'_editlist' => [
				'show_in_quickedit' => [ $this->get_taxonomy_show_in_quickedit_desc( 'category_taxonomy' ), '1' ],
			],
			'_frontend' => [
				'contents_viewable',
				'show_in_navmenus' => [ $this->get_taxonomy_show_in_navmenus_desc( 'category_taxonomy' ), '1' ],
			],
			'_fields' => [
				$this->settings_posttypes_for_target( 'parent',
					_x( 'Owner Post-types', 'Settings', '<%= moduleTextdomain %>' ),
					_x( 'Selected will be available as the post-types of the owner meta-field.', 'Settings', '<%= moduleTextdomain %>' )
				),
			],
			'_constants' => [
				'main_posttype_constant'     => [ NULL, 'xxx' ], // FIXME <----
				'category_taxonomy_constant' => [ NULL, 'xxx_category' ], // FIXME <----
			],
		];
	}

	protected function get_global_constants(): array
	{
		return [
			'main_posttype'     => 'xxx', // FIXME <----
			'category_taxonomy' => 'xxx_category', // FIXME <----
		];
	}

	protected function get_global_strings(): array
	{
		$strings = [
			'noops' => [
				'main_posttype'     => _n_noop( '', '', '<%= moduleTextdomain %>' ), // FIXME <----
				'category_taxonomy' => _n_noop( 'Category', 'Categories', '<%= moduleTextdomain %>' ),
			],
			'labels' => [
				'category_taxonomy' => [
					'show_option_all'      => _x( 'Categories', 'Label: Show Option All', '<%= moduleTextdomain %>' ),
					'show_option_no_items' => _x( '(Uncategorized)', 'Label: Show Option No Terms', '<%= moduleTextdomain %>' ),
				],
			],
		];

		if ( ! is_admin() )
			return $strings;

		// $strings[''] = [];

		return $strings;
	}

	protected function define_default_terms(): array
	{
		return [
			'category_taxonomy' => [
				// '' => _x( '', 'Main Taxonomy: Default Term', '<%= moduleTextdomain %>' ),
			],
		];
	}

	public function get_global_fields(): array
	{
		$posttype = $this->constant( 'main_posttype' );

		return [
			'meta' => [
				$posttype => [

					'owner_userid' => [
						'title'       => _x( 'Owner', 'Field Title', '<%= moduleTextdomain %>' ),
						'description' => _x( 'Determines the user responsible for this content.', 'Field Description', '<%= moduleTextdomain %>' ),
						'type'        => 'user',
					],
					'owner_postid' => [
						'title'       => _x( 'Owner', 'Field Title', '<%= moduleTextdomain %>' ),
						'description' => _x( 'Determines the individual responsible for this content.', 'Field Description', '<%= moduleTextdomain %>' ),
						'type'        => 'parent_post',
						'posttype'    => $this->get_setting_posttypes( 'parent' ),
					],

					'venue_string'   => [ 'type' => 'venue' ],
					'contact_string' => [ 'type' => 'contact' ],   // url/email/phone
					'website_url'    => [ 'type' => 'link' ],
					'wiki_url'       => [ 'type' => 'link' ],
					'email_address'  => [ 'type' => 'email' ],

					'content_embed_url' => [ 'type' => 'embed' ],
					'text_source_url'   => [ 'type' => 'text_source' ],
					'audio_source_url'  => [ 'type' => 'audio_source' ],
					'video_source_url'  => [ 'type' => 'video_source' ],
					'image_source_url'  => [ 'type' => 'image_source' ],
				],
			],
 			'units' => [
 				// $posttype => [],
			],
		];
	}


	protected function posttypes_excluded( array $extra = [] ): array
	{
		return $this->filters( 'posttypes_excluded',
			<%= namespaceBase %>\Settings::posttypesExcluded( $extra + [
				$this->constant( 'main_posttype' ),
			], $this->keep_posttypes )
		);
	}

	public function after_setup_theme(): void
	{
		$this->register_posttype_thumbnail( 'main_posttype' );
	}

	public function meta_init(): void
	{
		$this->add_posttype_fields_for( 'meta', 'main_posttype' );
	}

	public function units_init()
	{
		// $this->add_posttype_fields_for( 'units', 'main_posttype' );
	}

	public function init(): void
	{
		parent::init();

		$viewable = $this->get_setting( 'contents_viewable', TRUE );
		$captype  = $this->get_setting( 'custom_captype', FALSE )
			? $this->constant_plural( 'main_posttype' )
			: FALSE;

		$this->register_taxonomy( 'category_taxonomy', [
			'hierarchical'       => TRUE,
			'meta_box_cb'        => $this->get_setting( 'metabox_advanced' ) ? NULL : FALSE,
			'show_in_quick_edit' => (bool) $this->get_setting( 'show_in_quickedit' ),
			'show_in_nav_menus'  => (bool) $this->get_setting( 'show_in_navmenus' ),
		], 'main_posttype', [
			'is_viewable'    => $viewable,
			'custom_captype' => $captype,
			// 'custom_icon'    => $this->module->icon,   // default is module icon
		] );

		$this->register_posttype( 'main_posttype', [

		], [
			'is_viewable'      => $viewable,
			'custom_captype'   => $captype,
			// 'custom_icon'      => $this->module->icon,                      // default is module icon
			'primary_taxonomy' => $this->constant( 'category_taxonomy' ),
		] );
	}

	/**
	 * Fires after the current screen has been set.
	 *
	 * @param object $screen
	 * @return void
	 */
	public function current_screen( $screen ): void
	{
		if ( $this->is_screen_posttype( 'main_posttype', $screen ) ) {

			if ( 'edit' === $screen->base ) {

				$this->corerestrictposts__hook_screen_taxonomies( 'category_taxonomy' );
				$this->modulelinks__register_headerbuttons();

			} else if ( 'post' === $screen->base ) {

			}
		}
	}

	public function dashboard_glance_items( array $items ): array
	{
		if ( $glance = $this->dashboard_glance_post( 'main_posttype' ) )
			$items[] = $glance;

		return $items;
	}

	public function template_include( string $template ): string
	{
		return $this->get_setting( 'contents_viewable', TRUE )
			? $this->templatetaxonomy__include( $template, $this->constant( 'category_taxonomy' ) )
			: $template;
	}
}
