<?php namespace <%= namespaceAuthor %>\<%= namespaceBase %>\Modules\<%= moduleCamelCase %>;

defined( 'ABSPATH' ) || die( header( 'HTTP/1.0 403 Forbidden' ) );

use <%= namespaceAuthor %>\<%= namespaceBase %>;
use <%= namespaceAuthor %>\<%= namespaceBase %>\Core;
use <%= namespaceAuthor %>\<%= namespaceBase %>\Internals;
use <%= namespaceAuthor %>\<%= namespaceBase %>\Services;
use <%= namespaceAuthor %>\<%= namespaceBase %>\WordPress;

class <%= moduleCamelCase %> extends <%= namespaceBase %>\Module
{

	public static function module()
	{
		return [
			'name'     => '<%= moduleUnderline %>',
			'title'    => _x( '<%= moduleTitle %>', 'Modules: <%= moduleTitle %>', '<%= adminTexdomain %>' ),
			'desc'     => _x( '<%= moduleTagline %>', 'Modules: <%= moduleTitle %>', '<%= adminTexdomain %>' ),
			'icon'     => '<%= moduleDashicon %>',
			'access'   => 'planned',
			'keywords' => [
				'hasshortcode',
			],
		];
	}

	protected function get_global_settings()
	{
		return [
			'posttypes_option'  => 'posttypes_option',
			'taxonomies_option' => 'taxonomies_option',
			'_general' => [
				[
					'field'       => 'field',
					'type'        => 'text',
					'title'       => _x( 'Title', 'Setting Title', '<%= moduleTextdomain %>' ),
					'description' => _x( 'Description.', 'Setting Description', '<%= moduleTextdomain %>' ),
				],
			],
			'_supports' => [
				'assign_default_term',
				'comment_status',
				'shortcode_support',
				'thumbnail_support',
				$this->settings_supports_option( 'primary_posttype' ),
			],
			'_editlist' => [
				'show_in_quickedit',
			],
			'_frontend' => [
				'contents_viewable',
				'show_in_navmenus',
			],
		];
	}

	protected function get_global_constants()
	{
		return [
			'primary_posttype' => '',
			'primary_taxonomy' => '',
			'primary_paired'   => '',
			'primary_subterm'  => '',
			'main_taxonomy'    => '',
			'main_shortcode'   => '',
		];
	}

	protected function get_global_strings()
	{
		$strings = [
			'noops' => [
				'primary_posttype' => _n_noop( '', '', '<%= moduleTextdomain %>' ),
				'primary_taxonomy' => _n_noop( '', '', '<%= moduleTextdomain %>' ),
				'main_taxonomy'    => _n_noop( '', '', '<%= moduleTextdomain %>' ),
			],
		];

		if ( ! is_admin() )
			return $strings;

		// $strings['misc'] = [];

		return $strings;
	}

	protected function define_default_terms()
	{
		return [
			'main_taxonomy' => [
				'' => _x( '', 'Main Taxonomy: Default Term', '<%= moduleTextdomain %>' ),
			],
		];
	}

	public function after_setup_theme()
	{
		$this->register_posttype_thumbnail( 'primary_posttype' );
	}

	public function init()
	{
		parent::init();

		$this->register_taxonomy( 'primary_taxonomy', [
			'hierarchical'       => TRUE,
			'show_in_menu'       => FALSE,
			'meta_box_cb'        => NULL,
			'show_admin_column'  => TRUE,
			'show_in_quick_edit' => (bool) $this->get_setting( 'show_in_quickedit' ),
			'show_in_nav_menus'  => (bool) $this->get_setting( 'show_in_navmenus' ),
			'default_term'       => NULL,
		], 'primary_posttype', [
			'is_viewable' => $this->get_setting( 'contents_viewable', TRUE ),
			// 'custom_icon' => $this->module->icon, // // default is module icon
		] );

		$this->register_posttype( 'primary_posttype', [

		], [
			'is_viewable'      => $this->get_setting( 'contents_viewable', TRUE ),
			// 'custom_icon'      => $this->module->icon, // default is module icon
			'primary_taxonomy' => TRUE,
		] );

		$this->register_taxonomy( 'main_taxonomy', [
			'hierarchical' => TRUE,
			'meta_box_cb'  => '__checklist_terms_callback',
		], NULL, [

		] );

		$this->register_shortcode( 'main_shortcode' );
	}

	public function main_shortcode( $atts = [], $content = NULL, $tag = '' )
	{
		$args = shortcode_atts( [
			'id'      => get_queried_object_id(),
			'context' => NULL,
			'wrap'    => TRUE,
			'class'   => '',
			'before'  => '',
			'after'   => '',
		], $atts, $tag ?: $this->constant( 'main_shortcode' ) );

		if ( FALSE === $args['context'] )
			return NULL;

		if ( ! $post = WordPress\Post::get( $args['id'] ) )
			return $content;

		$html = '';

		return <%= namespaceBase %>\ShortCode::wrap( $html, $this->constant( 'main_shortcode' ), $args );
	}
}
