<div class="card -wrap">
	<h5 class="-overtitle">{{{updated}}}</h5>
	<h2 class="title -title">{{title}}</h2>
	<div class="description -description">{{{description}}}</div>
	{{#links}}
		<ul>
		{{#sources}}
			<li><a href="{{link}}" target="_blank">{{title}}</a></li>
		{{/sources}}
		</ul>
	{{/links}}
</div>
