@import "../../../../sass/modules/all";
@import "../../../../sass/partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/** @import 'vue-select/dist/vue-select.css'; **/
////////////////////////////////////////////////////////////////////////////////

/*
$spacer: 1rem !default;
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;
*/
