<div class="-wrap" id="geditorial-tabloid-wrap" dir="{{__direction}}">
	{{> title-actions}}
	<div class="wrap-title"><h2 class="-title"><a href="{{link}}">{{title.rendered}}</a></h2></div>
	<div class="wrap-excerpt">{{{excerpt.rendered}}}</div>
	{{> meta-summary}}
	{{> term-summary}}
	<div class="wrap-content">{{{content.rendered}}}</div>
</div>
