<div class="-wrap" id="geditorial-tabloid-wrap" dir="{{__direction}}">
	{{> title-actions}}
	{{> post-summary}}
	{{> meta-summary}}
	{{> term-summary}}
	{{> custom-summaries}}
	<div class="wrap-content">{{{content.rendered}}}</div>
</div>
