////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Activities: Admin All ----------------------------------------------

.geditorial-activity-box,
.geditorial-admin-comments-box {

  .-reply-action {
    display: none;
    transition: all 0.3s ease;
  }

  tr:hover {
    .-reply-action {
      display: inline-block;
      transition: all 0.1s ease;
    }
  }

  .-reply-title {
    color: $gray-light;
    margin: -4px 0 2px;
  }

  .-reply-title,
  .-reply-action {
    font-size: smaller;
  }
}
