////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Admin Table -------------------------------------------

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.wp-list-table,
.base-table-list {

  // TODO: move to core's `_admin.table.css`
  th span.-column-icon {
    display: block;
    text-indent: -9999px;
    position: relative;
    height: $spacer;
    width: $spacer;
    // margin: 0 auto;

    cursor: help;
    text-decoration: none;

    &::before {
      @include theme-fonts-core-dashicons;
      font-weight: 400;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-indent: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      font-variant: normal;
      margin: 0;
      color: #3c434a;
      content: "\f123";
      font-size: $spacer;
    }
  }

  span.-icon-danger {
    color: $brand-danger;
  }

  span.-icon-warning {
    color: $brand-warning;
  }

  span.-icon-info {
    color: $brand-info;
  }

  span.-icon-success {
    color: $brand-success;
  }

  span.-icon-primary {
    color: $brand-primary;
  }
}

////////////////////////////////////////////////////////////////////////////////
.wp-list-table {
  .-count-empty,
  .column-count-empty,
  .column-term-empty {
    color: $gray-light;
    cursor: help;
  }
}

////////////////////////////////////////////////////////////////////////////////
table.base-table-list {
  th.-column {
    span.-column-icon.-post-id::before {
      // content: "\f123";
    }

    &.-attachment-custom {
      width: 125px;
    }

    &.-attachment-sizes {
      width: 200px;
    }

    &.-attachment-meta {
      width: 200px;
    }

    &.-meta-metafields {
      width: 55%;
    }

    // &.-meta-legacies {}

    &.-field-meta-program_code,
    &.-field-meta-listing_code,
    &.-field-meta-meeting_code,
    &.-field-meta-mission_code,
    &.-field-meta-training_code {
      width: 75px;
    }

    &.-paired-connected-to {
      width: 70px;
    }

    &.-field-meta-datestart,
    &.-field-meta-dateend {
      width: 100px;
    }

    &.-field-meta-days,
    &.-field-meta-hours {
      width: 55px;
    }

    &.-field-meta-featured_people,
    &.-field-meta-venue_string {
      width: 245px;
    }
  }

  .-cell {
    .field-wrap.-summary {
      ul {
        margin: 0;
      }
    }

    &.-meta-metafields {
      td.-var {
        text-align: left;
        width: 95px;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// .base-table-actions {}

.base-table-navigation {

  .field-wrap {
    margin-bottom: 2px;

    &.-buttons {
      margin-top: $spacer * .25;

      &:last-of-type {
        margin-bottom: - $spacer * .25;
      }

      .-button {
        margin-bottom: 4px;

        + .-button {
          margin-left: $spacer * .25;
        }
      }

      .-button-icon {
        padding-left: 5px;

        .dashicons {
          position: relative;
          top: 5px;

          width: 22px !important;
          height: 18px;
          margin: 0 2px 0 -2px;
          vertical-align: top;

          &::before {
            color: $gray-light;
            font-size: 20px;
          }
        }

        .-iconsvg {
          margin: 0 2px 0 -2px;

          svg {
            width: 22px;
            height: 20px;
            vertical-align: text-top;
            color: $gray-light;
          }
        }
      }
    }
  }
}

