////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Admin Settings ----------------------------------------

.geditorial-admin-wrap {

  p.submit {
    .button-primary:active {
      vertical-align: baseline;
    }
  }

  .-button {
    vertical-align: middle !important;
  }

  .-wrap.-danger,
  .-button.button-delete, // DEPRICATED
  .-button.button-reset,
  .-button.button-danger {
    color: $brand-danger;
    &:hover {
      color: darken($brand-danger, 20%);
    }
  }

  .-field-sep {
    vertical-align: middle;
  }

  .settings-title {

    .-extra {
      color: $gray-light;
    }

    &.dashicons-before:before {
      font-size: 32px;
      width: 32px;
      height: 32px;
      padding-right: 10px;
    }

    .geditorial-icon svg {
      width: 30px;
      height: 30px;
      padding-right: 10px;
      vertical-align: top;
    }
  }

  .settings-title-count {}
  .settings-title-action {}

  .settings-title-search {
    position: relative;
    top: -2px;
    left: 20px;
    margin: 0;
    width: 280px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;

    @media only screen and (max-width: 650px) {
      & {
          float: none;
          clear: both;
          left: 0;
          top: 0;
          right: 0;
          margin: 10px 0;
          width: 100%;
          max-width: 280px;
      }
    }
  }
}
