////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Admin Credits


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.geditorial-admin-wrap {
  .credits,
  .signature {
    text-align: right;
    color: $gray-light;

    p {
      font-size: smaller;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: $gray-dark;
        text-decoration: underline;
      }
    }
  }

  .credits {

    /*rtl:ignore*/
    direction: ltr;
  }
}
