////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Admin After All ---------------------------------------

@media screen {
  .-mobile-only,
  .-mobile-only-inline,
  .-mobile-only-inline-block,
  .-print-only,
  .-print-only-inline,
  .-print-only-block {
    display: none !important;
  }

  .-print-hide,
  .-print-hide-block {
    display: block;
  }

  .-print-hide-inline {
    display: inline;
  }
}

@media print {
  .-print-hide,
  .-print-hide-inline,
  .-print-hide-block {
    display: none !important;
  }

  .-print-only,
  .-print-only-block {
    display: block;
  }

  .-print-only-inline {
    display: inline !important;
  }
}

@media screen and ( max-width: 782px ) {

  .-mobile-only {
    display: block !important;
  }

  .-mobile-only-inline {
    display: inline !important;
  }

  .-mobile-only-inline-block {
    display: inline-block !important;
  }
}
