////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Admin QuickEdit ---------------------------------------

.geditorial-admin-wrap-quickedit {
  margin-top: .5 * $spacer;
  @include theme-box-sizing-reset;

  .field-wrap {
    + .field-wrap {
      margin-top: .25 * $spacer;
    }

    &.-select {
      select {
        width: 100%;
        margin: 0;
      }
    }

    &.-inputtext-half {
      select,
      input {
        width: 49.5%;
      }
    }

    &.-inputtext-date {
      display: flex;
      justify-content: space-between;

      input {
        text-align: center;
        width: 32.3%;
        margin: 0;
      }
    }
  }

  .geditorial-admin-dropbown {
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 ( .25 * $spacer );

    // &.-quickedit-custombox {}

    &.dropbown-ltr {

      /*rtl:ignore*/
      direction: ltr;
    }
  }
}
