////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Admin Table -------------------------------------------

.fixed {
  .-count-empty,
  .column-count-empty,
  .column-term-empty {
    color: $gray-light;
    cursor: help;
  }
}

table.base-table-list {
  th.-column {
    &.-attachment-custom {
      width: 125px;
    }

    &.-attachment-sizes {
      width: 200px;
    }

    &.-attachment-meta {
      width: 200px;
    }
  }
}


// table.helper-table {
//   thead {
//     .check-column {
//       width: 2.2em;
//     }
//
//     .-column-slug {
//       width: 25%;
//     }
//   }
//
//   td {
//     vertical-align: top;
//   }
//
//   td,
//   th {
//     padding: 8px 10px;
//   }
//
//   .-cb-all {}
//
//   .-cb {}
//
//   .-column {}
//
//   .-column-ID,
//   .-column-id,
//   .-column-post_id,
//   .-column-term_id {
//     width: 60px;
//   }
//
//   .-column-count {
//     width: 50px;
//   }
//
//   .-column-content {}
//
//   .-column-info {
//     width: 34%;
//   }
//
//   .-column-tasks {}
//
//   .-column-next {
//     width: 34%;
//   }
//
//   .-column-debug {
//     padding: 0;
//   }
//
//   .-row {}
//
//   .-cell {}
//
//   pre {
//     margin: 0;
//     padding: 0;
//   }
// }
