////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Admin: Editor

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
body.disable-tinymce-editor {
  #content-tmce.wp-switch-editor.switch-tmce {
    display:none;
  }
}

////////////////////////////////////////////////////////////////////////////////
/// TINYMCE BUTTON ICONS
.geditorial-tinymce-icon {
  &::before {
    font-family: dashicons, sans-serif;
    content: "\f159"; // DEFAULT
  }
}
