////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Admin Layout


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// body.edit-tags-php {}

////////////////////////////////////////////////////////////////////////////////
body.term-php {
  #edittag {
    max-width: unset;
  }
}

////////////////////////////////////////////////////////////////////////////////
body.-postbox-container-side {
  #poststuff {
    #post-body.columns-2 {
      margin-right: 600px; // 300px;

      #postbox-container-1 {
        margin-right: -600px; // -300px;
      }

      #postbox-container-side {
        float: right;
        margin-right: -300px;
        width: 280px;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  body.-postbox-container-side {
    // #poststuff {}
    // #postbox-container-side {}
  }
}
