////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Admin SideBySide

////////////////////////////////////////////////////////////////////////////////
$spacer: 1rem !default;

////////////////////////////////////////////////////////////////////////////////
// .wrap.geditorial-sidebyside {}

////////////////////////////////////////////////////////////////////////////////
.sidebyside-wrap {
  padding: ($spacer * .25) 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  > .-side {
    width: 50%;
    margin: 0 ($spacer * .25);
    padding: ($spacer * .25) ($spacer * .25) 0 ($spacer * .25);
    border: 1px solid #e2e2e2;

    // &.-listed {}
    // &.-linked {}

    .term-search-form,
    .term-parent-display {
      display: flex;
      margin-bottom: $spacer * .25;

      input {
        flex-grow: 1;
        margin-right: $spacer * .25;
        border-radius: 0;
      }

      button {
        padding: 3px 10px;
        border-radius: 0;
        border: 1px solid #e2e2e2;
        cursor: pointer;
      }
    }

    .-message {
      font-size: small;
      padding: ($spacer * .25) 0;
    }

    .-stats {
      float: right;
      font-size: smaller;
      color: #9b9dad;
    }

    section {
      border: 1px solid #e2e2e2;
      margin-bottom: $spacer * .25;
      padding: $spacer * .25;

      // &:last-of-type {
      //   margin-bottom: 0;
      // }

      > .-actions {
        float: right;
        display: flex;
        flex-direction: row-reverse;

        li {
          border: 1px solid #e2e2e2;

          &:hover {
            background: #e2e2e2;
          }

          a {
            box-sizing: border-box;
            display: inline-block;
            height: 100%;
            width: 100%;
            padding: ($spacer * .15) ($spacer * .25);
            text-decoration: none;
            font-size: $spacer * 1.5;
            font-weight: 600;
            color: #9b9dad;
          }

          + li {
            margin-right: $spacer * .25;
          }
        }
      }

      > .-title {
        margin: 0;
        font-size: $spacer;
      }

      > .-desc {
        margin-top: $spacer * .25;
        font-size: smaller;
      }
    }
  }
}
