////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Admin MetaBox -----------------------------------------

.geditorial-admin-wrap-metabox, // FIXME: DEPRECATED
.geditorial-wrap.-admin-metabox,
.geditorial-admin-wrap-nobox,
.geditorial-admin-wrap-textbox {
  @include mainwrap();
  margin-top: 12px;

  .field-wrap {
    margin-bottom: 2px;

    &.field-wrap-summary {
      ol,
      ul {
        margin: 0;
        padding: 0;
        list-style-position: inside;

        li {

        }
      }
    }

    &.field-wrap-desc {
      color: $gray-light;

      &:hover {
        color: $gray-darker;
      }

      p {
        margin: 0 0 .5em;
        font-size: 0.89em;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &.field-wrap-empty {

      margin-bottom: 0;
      padding: 4px 6px;
      font-size: 0.9em;
      color: #555;
      background: #f7f7f7;
      border: 1px solid #e5e5e5;
      // border-radius: 1px;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      span {}
    }

    &.field-wrap-inputtext {
      input {
        width: 100%;
      }
    }

    &.field-wrap-inputcode {
      input {
        width: 100%;

        /*rtl:ignore*/
        direction: ltr;
      }
    }

    &.field-wrap-inputnumber {
      input {
        width: 32%;

        /*rtl:ignore*/
        direction: ltr;
      }
    }

    &.field-wrap-inputtext-half {
      input {
        width: 49%;
      }
    }

    &.field-wrap-inputtext-date {
      input {
        width: 32.5%;
        text-align: center;
      }
    }

    &.field-wrap-textarea {
      textarea {
        display: block;
        width: 100%;
        margin: 0;
        resize: vertical;
      }
    }

    &.field-wrap-select {
      select {
        width: 100%;
      }
    }

    &.field-wrap-buttons {
      .button, // DEPRECATED
      .-button {
        margin-bottom: 4px;

        &.-button-danger {
          color: $brand-danger;

          &:hover,
          .dashicons {
            color: darken($brand-danger, 20%);
          }
        }

        &.-button-full {
          width: 100%;
        }

        &.button-icon, // DEPRECATED
        &.-button-icon {
          padding-left: 3px;

          .dashicons {
            width: 22px;
            height: 22px;
            font-size: 22px;
            margin-top: 4px;
            margin-right: 4px;
          }

          .geditorial-icon svg {
            width: 26px;
            height: 26px;
            margin-top: 2px;
            padding-right: 4px;
            vertical-align: top;
          }
        }
      }
    }

    &.field-wrap-image {
      img {
        max-width: 100%;
        max-height: 200px;
        height: auto;
        width: auto;
      }
    }
  }

  .field-wrap-wrap {
    margin-bottom: 2px;

    .field-wrap {
      margin-bottom: 0;
    }
  }

  .field-wrap-group {
    margin-bottom: 12px;
  }

  .field-wrap-group:last-of-type {
    margin-bottom: 0;
  }

  .field-wrap-filter {
    input[type="search"] {
      box-sizing: border-box;
      width: 50%;
      height: 24px;
      margin: 1px 2px 1px 0;
      padding: 0 6px 1px;
      line-height: 22px;
      font-size: 11px;
    }

    button {
      float: right;
      padding: 0 5px;
    }

    .dashicons {
      width: 16px;
      height: 16px;
      font-size: 16px;
      vertical-align: middle;
      color: $gray;
    }
  }

  .field-wrap-list,
  .field-wrap-listjs {
    margin-bottom: 12px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .field-wrap-list {

    background-color: #fdfdfd;
    border: solid 1px #ddd;

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;

      .dashicons {
        text-decoration: none;
        color: inherit;
      }
    }

    a:focus {
      box-shadow: none;
    }

    h4 {
      font-size: 0.89em;
      margin: 0 4px;
      padding: 0;
      font-weight: 400;
      font-family: inherit;
    }

    .-selected {
      font-weight: 600;

      .dashicons {
        color: $brand-success;
      }
    }

    ol,
    ul {

      max-height: 240px;
      overflow: auto;

      margin: 0;
      padding: 0;
      list-style-position: inside;

      li {
        margin: 4px 6px 6px;

        span.edit {
          font-size: 0.8em;
        }

        &.-user {

          padding-bottom: 6px;
          margin: 8px 6px 6px;
          border-bottom: 1px solid #e5e5e5;

          &:last-of-type {
            border-bottom: none;
            margin-bottom: 0;
          }

          img.avatar {
            float: right;
            margin: 0 0 2px 2px;
          }

          label {
            display: block;
          }

          .-email {
            a {
              color: $gray-darker;

              &:hover {
                color: $brand-danger;
              }
            }
          }
        }
      }
    }

    ul {
      list-style: none;
    }

    ol {
      body.locale-fa-ir & {
        list-style-type: -moz-persian;
        list-style-type: persian;
      }
    }

    .dashicons {
      width: 14px;
      height: 14px;
      font-size: 14px;
      vertical-align: middle;
      color: #555;
    }
  }

  .nav-tab-wrapper {
    border-color: #eee;
    margin: 0 -12px 0 -12px;
    padding: 0;
  }

  .nav-tab {
    margin-left: 6px;
    line-height: 12px !important;

    &:first-child {
      margin-left: 12px;
    }
  }

  .nav-tab-content {
    margin-top: 12px;
    margin-bottom: -4px;
    display: none;

    &.-active {
      display: block;
    }
  }
}

.geditorial-admin-wrap-metabox, // FIXME: DEPRECATED
.geditorial-wrap.-admin-metabox {
  .field-wrap {
    &.field-wrap-textarea {
      padding-left: 1px;
      margin-right: -1px;
    }
  }
}

.geditorial-admin-dropbown {
  @extend %box-reset;
  width: 100%;

  &.dropbown-ltr {

    /*rtl:ignore*/
    direction: ltr;
  }
}

.geditorial-wrap.-admin-postbox {
  .handlediv.button-link {
    text-align: center;
  }

  .toggle-indicator:before {
    content: "\f142";
    display: inline-block;
    font: 400 20px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
  }

  &.closed {
    .toggle-indicator:before {
      content: "\f140";
    }
  }

  .inside {
    .-wrap.-excerpt {
      p:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
