////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Admin Help -------------------------------------------

#contextual-help-wrap {

  .help-tab-content {

    .-info {
      margin-right: -22px; // it's a hack!
    }

    .-info,
    .-info p {
      /*rtl:ignore*/
      direction: ltr;
    }

    .-from {
      margin-top: 1em;
      border-top: solid 1px #eee;
      padding-top: 1em;
    }
  }

  .contextual-help-sidebar {
    .-links,
    .-links p {
      /*rtl:ignore*/
      direction: ltr;
    }
  }
}
