////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Admin Glance

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
.geditorial-glance-item {
  &.-posttype::before {
    content: "\f105" !important;
  }

  &.-tax::before,
  &.-term::before {
    content: "\f323" !important; // tag
  }

  &.-not-in::before {
    content: "\f534" !important; // warning
  }

  &.-posttype-issue::before {
    content: "\f330" !important;
  }

  &.-posttype-publication::before {
    content: "\f331" !important;
  }

  &.-posttype-entry::before {
    content: "\f497" !important;
  }

  &.-posttype-event::before {
    content: "\f508" !important;
  }

  &.-posttype-contest::before {
    content: "\f488" !important;
  }

  &.-posttype-apply::before {
    content: "\f322" !important;
  }

  &.-posttype-quote::before {
    content: "\f122" !important;
  }

  &.-posttype-course::before {
    content: "\f118" !important;
  }

  &.-posttype-lesson::before {
    content: "\f322" !important;
  }

  &.-posttype-place::before {
    content: "\f231" !important;
  }

  &.-taxonomy-language::before {
    content: "\f326" !important;
  }

  &.-taxonomy-people::before {
    content: "\f110" !important;
  }
}
