////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Admin NewPost

////////////////////////////////////////////////////////////////////////////////
$spacer: 1rem !default;

////////////////////////////////////////////////////////////////////////////////
.geditorial-wrap.-newpost-layout {
  display: flex;
  padding: 0 $spacer * .5;

  input.large-text,
  textarea.large-text {
    width: 100%;
  }

  > .-main {
    padding-top: $spacer * .5;
    padding-right: $spacer * .5;
    flex-grow: 1;

    > p {
      margin-top: 0;
      margin-bottom: $spacer * .5;

      textarea {
        margin-bottom: $spacer * -.5;
      }
    }
  }

  > .-side {
    padding-left: $spacer * .5;
    width: 42%;
    max-width: 380px;

    // p.submit {
    //   margin-top: 1em;
    // }
  }

  .-wrap.field-wrap {
    margin-bottom: $spacer * .5;

    &.-inputgeneral {
      input[type="text"] {
        width: 100%;
      }
    }

    &.-textarea {
      textarea {
        display: block;
        width: 100%;
        max-width: 100% !important; // avoid affecting by other plugins
        min-height: 30px; // same as type text
        margin: 0;
        padding: 4px 8px;
        line-height: 1.4;
        resize: vertical;
      }
    }
  }

  .-wrap-buttons {
    margin: $spacer 0;
    text-align: right;

    .-loading {
      float: none;
      margin: 0 ($spacer * .5) 4px;
    }

    .-message {
      display: inline-block;
      float: left;
      margin-top: 4px;

      &.-error {
        color: #a00;
      }

      &.-success {
        color: #79ba49;
      }
    }
  }

  .-recents {
    border-left: 1px dotted $gray-500;
    border-bottom: 1px dotted $gray-500;
    border-bottom-left-radius: ($spacer * .25);
    padding: $spacer;
    margin-right: -($spacer * .5);

    > h3 {
      margin: ($spacer * .5) 0 ($spacer * .5);
      color: $gray-800;
    }

    > ul {
      margin-bottom: 0;

      li {
        &:last-of-type {
          margin-bottom: 0;
        }

        &::before {
          content: "\f109";
          @include theme-fonts-core-dashicons;
          vertical-align: middle;
          padding-right: ($spacer * .25);
          color: $gray-600;
        }

        &:hover {
          &::before {
            color: $gray-dark;
          }
        }

        a {
          color: #82878c; // #b4b9be;
          transition: all 0.3s ease;
          text-decoration: none;

          &:hover {
            color: $gray-dark;
            transition: all 0.1s ease;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
