////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Admin MetaBox

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@use "sass:color";

////////////////////////////////////////////////////////////////////////////////
$spacer: 1rem !default;

////////////////////////////////////////////////////////////////////////////////
.-misc.misc-pub-section {
  .-icon {
    cursor: help;
    margin: 0 4px 0 0;
  }

  span.dashicons {
    color: #82878c; // #b4b9be;
    width: 20px;
    height: 20px;
    font-size: 20px;
    // vertical-align: middle;
    vertical-align: text-top;
    transition: all 0.3s ease;
  }

  &:hover {
    .-icon span.dashicons {
      color: $gray-dark;
      transition: all 0.1s ease;
    }
  }

  a:focus {
    box-shadow: none;
  }
}

////////////////////////////////////////////////////////////////////////////////
.geditorial-wrap {
  &.-admin-nobox,
  &.-admin-metabox {
    margin: 12px 0 0 0;
    padding: 0;
    @include theme-box-sizing-reset;
  }

  p.-metabox-desc {
    color: $gray-light;
    font-size: 0.89em;
    margin-bottom: -.5em;

    &:hover {
      color: $gray-darker;
    }
  }

  .field-wrap {
    margin-bottom: 2px;

    + .field-wrap {
      margin-top: $spacer * .25;
    }

    input[dir="ltr"]::placeholder {
      direction: ltr;
      text-align: left; // for firefox
    }

    // for fields rendered by settings
    &.-setting-field {
      > p {
        margin: 0;
      }

      > select,
      > input[type="url"],
      > input[type="email"],
      > input[type="text"] {
        width: 100%;
      }
    }

    &.-summary {
      ol,
      ul {
        margin: 0;
        padding: 0;
        list-style-position: inside;

        // li {}
      }
    }

    &.-desc {
      color: $gray-light;

      &:hover {
        color: $gray-darker;
      }

      p {
        margin: 0 0 .5em;
        font-size: 0.89em;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &.-theday-bycalendar,
    &.-needs-refresh,
    &.-empty {
      margin-bottom: 0;
      padding: 4px 6px;
      font-size: 0.9em;
      color: #555;
      background: #f7f7f7;
      border: 1px solid #e5e5e5;
      border-radius: 4px;

      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          text-decoration: underline;
          color: #222;
        }
      }
    }

    &.-theday-bycalendar {
      text-align: center;
    }

    // &.-inputgeneral {}

    &.-inputpeople,
    &.-inputtext {
      input {
        width: 100%;
      }
    }

    &.-inputlink,
    &.-inputcode {
      input {
        width: 100%;

        /*rtl:ignore*/
        direction: ltr;
      }
    }

    &.-inputnumber {
      input {
        width: 32%;

        /*rtl:ignore*/
        direction: ltr;
      }
    }

    &.-inputdistance,
    &.-inputduration,
    &.-inputarea,
    &.-inputdate {
      input {
        width: 100%;

        /*rtl:ignore*/
        direction: ltr;
      }
    }

    &.-inputpeople,
    &.-inputvenue {
      input {
        width: 100%;
      }
    }

    &.-inputtext-unknowntype {
      input[type="text"] {
        width: 100%;
      }
    }

    &.-inputidentity {
      input {
        width: 100%;

        /*rtl:ignore*/
        direction: ltr;
      }
    }

    &.-inputisbn,
    &.-inputvin,
    &.-inputiban,
    &.-inputbankcard {
      input {
        width: 100%;

        /*rtl:ignore*/
        direction: ltr;
      }
    }

    &.-inputyear,
    &.-inputprice,
    &.-inputtext-half {
      margin-right: -3px;

      select,
      input {
        width: 49% !important;
      }
    }

    &.-inputtext-date {
      display: flex;
      justify-content: space-between;

      input {
        text-align: center;
        width: 32.3%;
        margin: 0;
      }
    }

    &.-textarea {
      textarea {
        display: block;
        width: 100%;
        max-width: 100% !important; // avoid affecting by other plugins
        min-height: 30px; // same as type text
        margin: 0;
        padding: 4px 8px;
        line-height: 1.4;
        resize: vertical;
      }
    }

    &.-select-multiple,
    &.-select {
      select {
        width: 100%;
        height: 30px; // same as type text
        max-width: unset;
      }
    }

    &.-checkbox {
      padding: ($spacer * .125) 0 0;

      input[type="checkbox"] {
        // vertical-align: unset;
        margin: 0;
      }
    }

    &.-buttons {
      margin-top: $spacer * .25;
      // margin-bottom: -2px;

      &:last-of-type {
        margin-bottom: - $spacer * .25;
      }

      // .button, // DEPRECATED
      // .-button {
      //   margin-bottom: 4px;

      //   + .-button {
      //     margin-left: $spacer * .25;
      //   }
      // }

      .-button {
        margin-bottom: 4px;
        margin-right: $spacer * .25;

        &:last-of-type {
          margin-right: 0;
        }
      }

      // NOT USED
      // .-inline-description {
      //   margin-left: $spacer * .25;
      //   display: inline-block;
      //   line-height: $spacer * 1.75;
      //   font-size: smaller;
      //   color: $gray-light;
      // }

      .-button-danger {
        color: $brand-danger;

        &:hover,
        .dashicons {
          color: color.adjust($brand-danger, $lightness: -20%);
        }
      }

      #side-sortables & .-mainbutton,
      .-button-full {
        margin: 0;
        width: 100%;
        padding-right: 7px;
        padding-left: 7px;
      }

      .-button-icon {
        padding-left: 5px;

        .dashicons {
          position: relative;
          top: 5px;

          width: 22px !important;
          height: 18px;
          margin: 0 2px 0 -2px;
          // vertical-align: text-top;

          &::before {
            color: $gray-light;
            font-size: 20px;
          }
        }

        .-iconsvg {
          margin: 0 2px 0 -2px;

          svg {
            width: 22px;
            height: 20px;
            vertical-align: text-top;
            color: $gray-light;
          }
        }
      }

      .button-small {
        .dashicons {
          width: 16px !important;
          height: 16px;
          top: 2px;
        }
      }

      // .-button-icon-OLD {
      //   padding-left: 3px;
      // --
      //   .dashicons {
      //     width: 22px;
      //     height: 22px;
      //     font-size: 22px;
      //     margin-top: 4px;
      //     margin-right: 4px;
      //   }
      // --
      //   .geditorial-icon svg {
      //     width: 26px;
      //     height: 26px;
      //     margin-top: 2px;
      //     padding-right: 4px;
      //     vertical-align: top;
      //   }
      // }
    }

    &.-buttons-half {
      display: flex;

      .-button {
        width: 50%;
      }
    }

    &.-image {
      text-align: center;
      padding: 0;
      margin: $spacer * .5;

      &:last-of-type {
        margin-bottom: 0;
      }

      img {
        max-width: 100%;
        max-height: 200px;
        height: auto;
        width: auto;
        display: block;
        margin: 0 auto;
        padding: 2px;
        border-radius: 2px;
        background-color: #82878c;
      }
    }
  }

  .field-wrap-wrap {
    margin-bottom: 2px;

    .field-wrap {
      margin-bottom: 0;
    }
  }

  .field-wrap-group {
    margin-bottom: 12px;
  }

  .field-wrap-group:last-of-type {
    margin-bottom: 0;
  }

  .field-wrap-filter {
    input[type="search"] {
      box-sizing: border-box;
      width: 50%;
      height: 24px;
      margin: 1px 2px 1px 0;
      padding: 0 6px 1px;
      line-height: 22px;
      font-size: 11px;
    }

    button {
      float: right;
      padding: 0 5px;
    }

    .dashicons {
      width: 16px;
      height: 16px;
      font-size: 16px;
      vertical-align: middle;
      color: $gray;
    }
  }

  .field-wrap-list, // DEPRECATED
  .field-wrap-listjs, // DEPRECATED
  .field-wrap.-radio,
  .field-wrap.-listjs,
  .field-wrap.-list {
    margin-bottom: $spacer * .25;

    &:last-of-type {
      margin-bottom: 0;
    }

    + .field-wrap.-list {
      margin-top: -6px;
    }
  }

  .field-wrap-list, // DEPRECATED
  .field-wrap.-radio,
  .field-wrap.-list {
    background-color: #fdfdfd;
    border: solid 1px #ddd;
    border-radius: 3px;
    padding-top: .25rem;
  }

  .field-wrap.-radio {
    padding: .5rem .5rem 0 .5rem;
    font-size: smaller;

    > div {
      padding-bottom: .5rem;
    }

    input[type="radio"] {
      vertical-align: -webkit-baseline-middle;
      line-height: unset;
    }

    label {
      line-height: unset;
    }
  }

  .field-wrap-list, // DEPRECATED
  .field-wrap.-list {
    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;

      .dashicons {
        text-decoration: none;
        color: inherit;
      }
    }

    a:focus {
      box-shadow: none;
    }

    h4 {
      font-size: 0.9em;
      margin: 0 4px;
      padding: 0 0 5px 0;
      font-weight: 600;
      font-family: inherit;
      text-align: center;
      border-bottom: 1px dotted #e5e5e5;

      a {
        color: inherit;
      }
    }

    .-selected {
      font-weight: 600;

      .dashicons {
        color: $brand-success;
      }
    }

    ol,
    ul {
      margin: 0;
      padding: 0;

      &:not(.children) {
        max-height: 240px;
        overflow: auto;
      }

      &.children {
        margin-left: $spacer * .5;
        margin-top: $spacer * .25;
        margin-bottom: $spacer * .25;
        padding-left: $spacer * .25;
        border-left: 2px dashed $gray-lighter;
      }

      li {
        margin: 4px 6px 6px;

        span.edit {
          font-size: 0.8em;
        }

        span.-count-wrap {
          font-size: smaller;
          color: #82878c;
          vertical-align: middle;
        }

        &.-user {

          padding-bottom: 6px;
          margin: 8px 6px 6px;
          border-bottom: 1px solid #e5e5e5;

          &:last-of-type {
            border-bottom: none;
            margin-bottom: 0;
          }

          img.avatar {
            float: right;
            margin: 0 0 2px 2px;
          }

          label {
            display: block;
          }

          .-email {
            a {
              color: $gray-darker;

              &:hover {
                color: $brand-danger;
              }
            }
          }
        }
      }
    }

    ul {
      list-style: none;
    }

    ol {
      list-style-position: inside;

      li {
        font-size: smaller;
      }
    }

    .dashicons {
      width: 14px;
      height: 14px;
      font-size: 14px;
      vertical-align: middle;
      color: #555;
    }
  }

  .field-wrap.-text-preview {
    padding: ($spacer * .25) ($spacer * .5);
    border: 1px dashed $gray-light;
    background-color: $gray-100;
    border-radius: $spacer * .25;

    &:empty {
      min-height: $spacer * 1.75;

      &::after {
        left: 0;
        right: 0;
        // bottom: 0;
        top: $spacer * .5;
        position: absolute;
        content: attr(data-empty);
        text-align: center;
        // padding: $spacer * .25;
        color: $gray-light;
        font-size: $spacer * .6;
        font-weight: 600;
        // z-index: 1;
      }
    }

    &.-byline {
      font-size: smaller;
      min-height: 30px; // same as .button
      line-height: 2.15384615; // same as .button

      a {
        color: #82878c; // #b4b9be;
        transition: all 0.3s ease;
        text-decoration: none;

        &:hover {
          color: $gray-dark;
          transition: all 0.1s ease;
          text-decoration: underline;
        }
      }
    }
  }

  .nav-tab-wrapper {
    border-color: #eee;
    margin: 0 -12px 0 -12px;
    padding: 0;
  }

  .nav-tab {
    margin-left: 6px;
    line-height: 12px !important;

    &:first-child {
      margin-left: 12px;
    }
  }

  .nav-tab-content {
    margin-top: 12px;
    margin-bottom: -4px;
    display: none;

    &.-active {
      display: block;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// .geditorial-admin-wrap-metabox, // FIXME: DEPRECATED
.geditorial-wrap.-admin-metabox {
  .field-wrap {
    &.-textarea {
      padding-left: 1px;
      margin-right: -1px;
    }
  }

  > .-title {
    margin: -2px 0 5px;
  }
}

// FIXME: DEPRECATED
.geditorial-admin-wrap-textbox {
  margin-top: 12px;

  textarea {
    display: block;
    width: 100%;
    margin: 0;
    resize: vertical;
  }
}

.geditorial-admin-dropbown {
  box-sizing: border-box;
  width: 100%;

  // &.-dropdown-with-reset {}

  &.dropbown-ltr {

    /*rtl:ignore*/
    direction: ltr;
  }
}

.geditorial-wrap.-admin-postbox-manual {
  .handlediv.button-link {
    text-align: center;
  }

  .toggle-indicator::before {
    content: "\f142";
    display: inline-block;
    font: 400 20px/1 dashicons, sans-serif;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
  }

  &.closed {
    .toggle-indicator::before {
      content: "\f140";
    }
  }

  .inside {
    .-wrap.-excerpt {
      p:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.geditorial-wrap.-admin-postbox-editorbox {
  .inside {
    margin: 0 !important;
    padding: 0;
  }

  #excerpt {
    margin: 0;
    box-sizing: border-box;
    border: none;
  }

  .wp-editor-tools {
    position: absolute;
    margin-top: -35px;
    right: 35px;
  }

  .wp-editor-container {
    border: none;
    // margin-top: -1px;
  }

  .-editor-status-info {
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}
