////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Partial: Base --------------------------------------------------------------

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
$spacer: 1rem !default;
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
$base-size-font:     16px !default;
$base-size-baseline: 16px !default;
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
$font-family-base:   "Droid Arabic Naskh", "Tahoma", "Iranian Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$font-family-head:   "Arial", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
$gray-base:          #000 !default;
$gray-darker:        lighten($gray-base, 13.5%) !default; // #222
$gray-dark:          lighten($gray-base, 20%) !default;   // #333
$gray:               lighten($gray-base, 33.5%) !default; // #555
$gray-light:         lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:       lighten($gray-base, 93.5%) !default; // #eee
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
$brand-primary:      darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:      #5cb85c !default;
$brand-info:         #5bc0de !default;
$brand-warning:      #f0ad4e !default;
$brand-danger:       #d9534f !default;
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
$link-color:         $brand-primary !default;
$link-hover-color:   darken($link-color, 15%) !default;
$headings-color:     inherit !default;
