////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Comments: Admin Post -----------------------------------------------

.geditorial-wrap.-admin-postbox.-comments-supported {
  .inside {
    margin: 0 !important;
    padding: 0;

    > p {
      padding: 8px 10px;
      margin: 0;
    }
  }

  div.-add-comment,
  div.-form-comment {
    padding: 8px 5px;

    textarea {
      width: 100%;
    }

    p {
      margin: 0;
    }

    .-button {
      margin: 0 4px 0 0;
    }

    .button-primary {
      float: right;
      margin: 0;
    }
  }

  .-status {
    color: $gray-light;
    font-size: smaller;
    margin-left: 2px;
    padding: 0 4px;
  }

  .-message {
    display: inline-block;

    > div {
      margin: 0 0 0 2px;
      padding: 0 8px 4px 6px;
      background-color: transparent;
      box-shadow: none;

      p {
        margin: 0 !important;
        line-height: 1.1;
      }
    }
  }

  div.-form-comment {
    p {
      margin: 4px 0 0;
      // text-align: left;
    }
  }

  td.column-primary {
    div.-form-comment {
      padding: 8px 0;
    }
  }


  .geditorial-listtable {

    border: 0 none;

    tr {
      // background-color: transparent;
    }

    td {
      // vertical-align: top;
      padding: 4px 6px;

      p {
        line-height: 1.5;
        margin: 0 0 6px;

        &:last-child {
          margin: 0 0 4px;
        }
      }
    }

    .column-author {
      width: 20%;
    }

    .column-date {
      width: 15%;
    }

    .row-actions {
      // font-size: smaller;
    }
  }
}
