////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Drafts: Admin Post

////////////////////////////////////////////////////////////////////////////////
// body.geditorial-drafts-enabled {}

////////////////////////////////////////////////////////////////////////////////
.geditorial-admin-wrap.-drafts {
  clear: both;
  padding: 10px 0 8px;

  .-loading {
    float: none;
    margin-top: 2px;
  }

  input.-link {
    /*rtl:ignore*/
    direction: ltr;
    /*rtl:ignore*/
    text-align: left;
    margin-bottom: 10px;
  }
}
