////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Drafts Adminbar ALL

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.geditorial-wrap.-drafts {
  // position: relative;
  background: $gray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8), inset 0 0 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  left: 0;
  overflow: hidden;
  padding: 1em 0;
  position: absolute;
  right: 0;
  top: 28px;
  width: 100%;
  z-index: 1999;

  @include theme-box-sizing-reset;

  .-content {
    column-width: 20rem;

    a {
      &,
      &:visited {
        color: $gray-lighter;
      }

      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }

    .-empty,
    .-block {
      border-left: 1px solid $gray-light;
      float: left;
      margin: 0 0 0 15px;
      min-width: 320px;
      padding-left: 15px;
      padding-top: 5px;
    }

    h3 {
      font-size: 1.1em;
      margin: 0 0 0.5em;
      padding: 0;
    }

    ul {
      font-size: 12px;
      line-height: 1.4;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0 0 6px;
        break-inside: avoid;
      }
    }
  }
}
