////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Estimated Front ALL ----------------------------------------

.geditorial-wrap.estimated {

	color: #aaa;

	&.-before {
		margin-bottom: 1em;
	}

	&.-after {
		margin-top: 1em;
	}

	span {

	}
}
