////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Estimated Front ALL

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.geditorial-wrap.-estimated {
  font-size: smaller;
  line-height: inherit;
  color: $gray;
  cursor: help;

  &.-before {
    margin-bottom: $spacer;
  }

  &.-after {
    margin-top: $spacer;
  }

  // span {}
}
