////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Event: Admin Edit --------------------------------------------------

.geditorial-admin-wrap.-event {}

.fixed {
  .column-event_starts {
    width: 12%;
    color: $gray-light;
  }

  .column-event_ends {
    width: 12%;
    color: $gray-light;
  }
}
