////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Front: Template

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@use "sass:color";

////////////////////////////////////////////////////////////////////////////////
.hentry.empty-posttype {
  .entry-title,
  .entry-title > a {
    color: $brand-danger;

    &:hover {
      color: color.adjust($brand-danger, $lightness: -20%);
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
.hentry.archive-posttype {
}

////////////////////////////////////////////////////////////////////////////////
.-wrap.geditorial-empty-content,
.-wrap.geditorial-archive-content {
  color: $gray-light;

  > p + form {
    margin-top: 1rem;
  }

  form {
    margin-bottom: 1rem;
  }

  p.-actions {
    @include theme-clearfix;
    text-indent: 0;
  }
}
