////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Headings ----------------------------------------------------------

.geditorial-wrap.-headings {
  &.-toc-box {
    background: $gray-lighter;
    float: right;
    font-size: 0.8em;
    width: 40%;
    padding: 1em 1.2em;
    margin: 0 0 0.5em 0.5em;

    ol,
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0 0 0.5em;

        a {
          text-decoration: none;

          &:active,
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .-toc-title {
      margin: 0 0 0.5em;
      font-size: small;
    }

    // .-title {}
    // .-list {}
  }
}

.anchor-title {
  clear: none;

  &:target {
    animation: anchorhighlight 1s ease;
  }
}

a.anchorlink {
  box-shadow: none !important;
  text-decoration: none;
  font-size: smaller;
  margin-left: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &[id]:hover {
    a.anchorlink::before {
      content: "\f103"; // dashicons-admin-links
      color: #888;
      font-size: smaller;
      text-decoration: none;
      box-shadow: none !important;
      vertical-align: middle;
      height: auto;
    }
  }
}

@keyframes anchorhighlight {
  from {
    background: $brand-warning;
  }

  to {
    background: transparent;
  }
}
