////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Service: System Heartbeat: Admin-bar

////////////////////////////////////////////////////////////////////////////////
/// Adopted from: `WP Heart Throb` by `John James Jacoby` v1.0.1 - 2026-01-18
/// @link http://wordpress.org/plugins/wp-heart-throb/

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
#wp-admin-bar-geditorial-systemheartbeat {
  .ab-icon {
    &:not(.beat) {
      animation: systemheartbeat-beat 1s infinite;
    }

    &.beat {
      animation: systemheartbeat-pound 0.5s infinite;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
@keyframes systemheartbeat-beat {
  from {
    transform: none;
  }

  50% {
    transform: scale(1.1);
  }

  to {
    transform: none;
  }
}

@keyframes systemheartbeat-pound {
  from {
    transform: none;
  }

  50% {
    transform: scale(1.4);
  }

  to {
    transform: none;
  }
}
