////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Icon: All

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.#{$plugin}-icon svg,
.#{$plugin}-icon img {
  // vertical-align: middle;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  /* stylelint-disable-next-line value-keyword-case */
  stroke: currentColor;
  /* stylelint-disable-next-line value-keyword-case */
  fill: currentColor;
}
