////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Like Front ALL ----------------------------------------

.geditorial-wrap.like {

  @include mainwrap();

  line-height: 30px;

  > div {
    display: inline-block;
    float: left;
  }

  a.like {

    text-decoration: none;
    display: inline-block;
    outline: 0 none;
    cursor: pointer;

    width: 32px;
    height: 32px;

    color: inherit;
    background: $gray-lighter;
    border: 1px solid $gray-lighter;
    border-radius: 3px;

    &:hover {
      border: 1px solid $gray-light;
      text-decoration: none;
    }

    &:focus {}

    &.loading {
      color: $gray-lighter;
    }

    &.unlike {
      color: $brand-danger;
    }

    &.dolike {}

    // span.genericon {
    //   font-size: 30px;
    // }

    svg {
      width: 24px;
      height: 24px;
      margin: 3px;
    }
  }

  span.like {
    display: inline-block;
    position: relative;
    background: #fff;

    color: $gray;
    cursor: help;

    border: 1px solid $gray-lighter;
    border-radius: 3px;

    margin-left: 6px;
    font-size: 20px;
    font-family: Arial;
    padding: 0 6px;
  }

  span.like:before {
    content: "";
    position: absolute;
    margin: auto;

    top: 0;
    bottom: 0;
    left: -3px;
    width: 4px;
    height: 4px;

    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: $gray-lighter;

    background: #fff;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }

  ul.like {

    margin: 0 0 0 6px;
    padding: 0;
    float: left;

    li {
      display: inline-block;
      padding: 0;
      margin: 0 4px 0 0;

      a {
        display: inline-block;
        outline: 0 none;

        border: 1px solid $gray-lighter;
        border-radius: 3px;

        &:hover {
          border: 1px solid $gray-light;
          text-decoration: none;
        }

        img {
          max-width: 30px;
          max-height: 30px;
          display: inline-block;
          border-radius: 2px;
          padding: 0;
        }
      }
    }
  }
}
