////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Listtable: Admin ALL ----------------------------------

.geditorial-listtable {
  td > p {
    margin: 0 0 0.6em !important;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .-reply-action {
    display: none;
    transition: all 0.3s ease;
  }

  tr:hover {
    .-reply-action {
      display: inline-block;
      transition: all 0.1s ease;
    }
  }

  .-reply-title {
    color: $gray-light;
    margin: -4px 0 2px;
  }

  .-reply-title,
  .-reply-action {
    font-size: smaller;
  }
}
