////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Magazine: Front: ALL

.geditorial-wrap.-magazine {
  // &.issue-cover {
  //   a {}

  //   img {}

  //   figure {
  //     figcaption {}
  //   }
  // }
}
