////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Meta: Admin Post ---------------------------------------------------
// Overtitle & Subtitle Fields
.geditorial-admin-posttitle {
  @extend %box-reset;
  font-size: 1.3em;
  padding: 3px 8px;
  width: 100%;

  &.geditorial-meta-field-ot {
    margin: 0 0 5px;
  }

  &.geditorial-meta-field-st {
    margin: 3px 0 15px;
  }
}
