////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Meta: Front All ----------------------------------------------------

.geditorial-wrap.-meta {
  &.-before {}

  &.entry-lead {
    p {
      color: $gray-light;
      font-size: 0.89em;
      line-height: inherit;
    }
  }

  &.entry-source.-after {
    margin-top: 1em;
    text-align: right;
  }
}
