////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Ortho: Admin All

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////
.ortho-input-wrap {
  .do-ortho {
    position: absolute;
    right: 4px;
    top: 1px;
    color: #82878c;
    opacity: 0.7;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: help;

    &:hover {
      text-decoration: none;
      color: $gray-dark;
      transition: all 0.1s ease;
    }

    &:focus {
      box-shadow: none;
      color: #666;
    }

    .dashicons {
      // width: 20px;
      // height: 20px;
      // font-size: 20px;
    }
  }

  // .geditorial-admin-wrap-metabox &, // DEPRECATED
  .geditorial-wrap.-admin-metabox &,
  &.ortho-input-text-wrap {
    position: relative;
  }

  // &.ortho-input-markdown-wrap {}

  &.ortho-input-html-wrap {
    display: block;

    .do-ortho {
      right: 14px;
      top: 2px;
    }
  }

  input.geditorial-meta-type-title_before + a.do-ortho {
    top: -4px;
  }

  input#title + a.do-ortho {
    top: -2px;
  }

  input.geditorial-meta-type-title_after + a.do-ortho {
    top: -4px;
  }

  .geditorial-wrap.-admin-metabox & textarea + a.do-ortho {
    // textarea[data-meta-type="note"] + a.do-ortho {
    right: 2px;
    bottom: 4px;
    top: auto;
  }

  // .term-description-wrap & textarea + a.do-ortho {
  .term-description-wrap & {
    position: relative;
    display: block;
    margin-bottom: -5px;

    a.do-ortho {
      // right: 5%;
      // top: 5px;
      // right: calc(5% - 10px);
      right: 8px;
    }
  }

  textarea#excerpt + a.do-ortho {
    // top: -22px;
  }
}

////////////////////////////////////////////////////////////////////////////////
input.ortho-is-valid {
  border-color: $brand-success !important;

  &:focus {
    box-shadow: 0 0 0 1px $brand-success !important;
  }
}

input.ortho-not-valid {
  border-color: $brand-danger !important;

  &:focus {
    box-shadow: 0 0 0 1px $brand-danger !important;
  }
}

////////////////////////////////////////////////////////////////////////////////
