////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Ortho: Admin All

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////
.ortho-input-wrap {
  .do-ortho {
    position: absolute;
    right: 4px;
    top: 1px;
    color: #82878c;
    opacity: 0.7;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: help;

    &:hover {
      text-decoration: none;
      color: $gray-dark;
      transition: all 0.1s ease;
    }

    &:focus {
      box-shadow: none;
      color: #666;
    }

    .dashicons {
      // width: 20px;
      // height: 20px;
      // font-size: 20px;
    }

    span.-virastar-icon {
      margin-right: $spacer * .25;
    }
  }

  // .geditorial-admin-wrap-metabox &, // DEPRECATED
  .geditorial-wrap.-admin-metabox &,
  &.ortho-input-text-wrap {
    position: relative;
  }

  // &.ortho-input-markdown-wrap {}

  &.ortho-input-html-wrap {
    display: block;

    .do-ortho {
      right: 14px;
      top: 2px;
    }
  }

  input.geditorial-meta-type-title_before + a.do-ortho {
    top: -4px;
  }

  input#title + a.do-ortho {
    top: -2px;
  }

  input.geditorial-meta-type-title_after + a.do-ortho {
    top: -4px;
  }

  .geditorial-wrap.-admin-metabox & textarea + a.do-ortho {
    // textarea[data-meta-type="note"] + a.do-ortho {
    right: 2px;
    bottom: 4px;
    top: auto;
  }

  // .term-description-wrap & textarea + a.do-ortho {
  .term-description-wrap & {
    position: relative;
    display: block;
    margin-bottom: -5px;

    a.do-ortho {
      // right: 5%;
      // top: 5px;
      // right: calc(5% - 10px);
      right: 8px;
    }
  }

  textarea#excerpt + a.do-ortho {
    // top: -22px;
  }
}

////////////////////////////////////////////////////////////////////////////////
input.ortho-is-valid {
  border-color: $brand-success !important;

  &:focus {
    box-shadow: 0 0 0 1px $brand-success !important;
  }
}

input.ortho-not-valid {
  border-color: $brand-danger !important;

  &:focus {
    box-shadow: 0 0 0 1px $brand-danger !important;
  }
}

////////////////////////////////////////////////////////////////////////////////
.geditorial-custom-icon.-icon-ortho-virastar,
.ortho-input-wrap .do-ortho span.-virastar-icon {
  &::before {
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2350575e' viewBox='0 0 32 32'%3E%3Cpath d='M31.818 9.122L22.879.183c-.292-.292-.676-.226-.855.146l-1.199 2.497 8.35 8.35 2.497-1.199c.372-.178.438-.563.146-.855zM19.231 4.231L11 4.917c-.547.068-1.002.184-1.159.899l-.001.002C7.608 16.539 0 27.001 0 27.001l1.793 1.793 8.5-8.5a3 3 0 111.414 1.414l-8.5 8.5L5 32.001s10.462-7.608 21.183-9.84l.002-.001c.714-.157.831-.612.898-1.159l.686-8.231-8.538-8.539z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: $spacer $spacer;
    width: $spacer * 1.25;
    height: $spacer * 1.25;
  }
}
