////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Ortho: Admin Post --------------------------------------------------

.ortho-input-wrap {
  position: relative;

  .do-ortho {
    position: absolute;
    left: 4px;
    top: 0;
    color: #82878c;
    opacity: 0.8;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: #666;
    }

    &:focus {
      box-shadow: none;
      color: #666;
    }

    .dashicons {
      // width: 20px;
      // height: 20px;
      // font-size: 20px;
    }
  }

  .do-ortho-text {}

  .do-ortho-html {
    top: -10px;
  }

  input.geditorial-meta-field-ot + a.do-ortho {
    top: -3px;
  }

  input.geditorial-meta-field-st + a.do-ortho {
    top: -7px;
  }

  .gpeople-modal-tab-content & .do-ortho-text,
  input#title + a.do-ortho {
    top: -2px;
  }

  textarea#excerpt + a.do-ortho {
    top: -22px;
  }
}
