////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Recount: Admin: Edit-Tags


////////////////////////////////////////////////////////////////////////////////
// body.geditorial-recount-enabled {}

////////////////////////////////////////////////////////////////////////////////
th.column-geditorial-recount {
  width: 50px; // has sort icon

  span.-column-icon::before {
    content: "\f109"; // `dashicons-admin-post`
  }
}

td.column-geditorial-recount {
  /* rtl:ignore */
  text-align: left;
}
