////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Remoted: Admin: Dashboard -----------------------------------------

////////////////////////////////////////////////////////////////////////////////
@use "sass:color";

////////////////////////////////////////////////////////////////////////////////
// .geditorial-admin-wrap.-remoted {}

////////////////////////////////////////////////////////////////////////////////
.geditorial-wrap.-admin-widget.-remoted {
  @include plugin-uploadarea-container;

  .-file-queue {
    width: 100%;
    // padding: 0 $spacer * .25;
    font-size: smaller;
    text-align: center;

    &:empty {
      display: none;
    }

    .-description {
      margin: 0;

      &.-wrong {
        color: $brand-danger;

        &:hover {
          color: color.adjust($brand-danger, $lightness: -20%);
        }
      }
    }

    div.-added {
      /*rtl:ignore*/
      direction: ltr;
      display: flex;
      align-items: center;
      justify-content: center;

      span.-loading,
      span.-filename,
      span.-filesize,
      strong {
        margin-right: $spacer * .25;
      }
    }
  }
}
