////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Revisions: Admin Post ----------------------------------------------

// body.geditorial-revisions-enabled {
//   .misc-pub-section.misc-pub-revisions {
//     display: none;
//     visibility: hidden;
//   }
// }

.geditorial-admin-wrap.-revisions {
  padding: 10px;
  // text-align: left;
  .-purge {
    color: #a00;

    &:hover {
      color: $brand-danger;
    }
  }

  span.-loading {
    margin: 2px 5px 0;
    float: none;
    // visibility: none;
    display: none;
  }

  span.-loading.is-active {
    display: inline-block;
  }

  span.dashicons {
    margin: 2px 5px 0;
  }

  .-browse {
    float: right;
  }
}

.geditorial-admin-wrap-inline.-revisions {
  span.-wordcount {
    cursor: help;
  }

  img.avatar {}

  span.-loading.is-active {
    margin: 0;
    float: none;
  }

  a,
  a:hover {
    // text-decoration: none;
  }

  a:focus {
    // box-shadow: none;
  }

  a.button {
    .dashicons {
      width: 18px;
      height: 18px;
      font-size: 18px;
      margin: 2px 2px 0 -4px;
      vertical-align: top;
    }
  }

  a.-delete {
    color: $brand-danger;

    &:hover {
      color: darken($brand-danger, 20%);
    }

    .dashicons {
      color: darken($brand-danger, 20%);
    }
  }
}

ul.post-revisions,
.geditorial-admin-wrap.-revisions {
  span.dashicons {
    vertical-align: text-top;

    &.-error {
      color: #a00;
    }

    &.-success {
      color: #79ba49;
    }
  }
}

// side column
#postbox-container-1 {
  ul.post-revisions {
    li {
      margin-bottom: 3px;
      font-size: 0.89em;

      // FIXME: must hide the user display name / time ago
    }
  }
}
