////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Sortable All ------------------------------------------

body.dragging,
body.dragging * {
  // cursor: move !important;
}

.dragged {
  position: absolute;
  top: 0;
  // left: 0;
  opacity: 0.7;
  z-index: 2000;
}

ol.-sortable {

  li {
    position: relative;

    &:before {
      position: absolute;
    }

    .placeholder {}

    .-handle,
    .-delete {
      cursor: move;
      cursor: -webkit-grab;
      cursor: -moz-grab;
      cursor: grab;

      body.dragging & {
      // &:active {
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
        cursor: grabbing;
      }
    }
  }
}
