////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Specs: Admin Post --------------------------------------------------

// .geditorial-admin-wrap-metabox.-specs, // FIXME: DEPRECATED
.geditorial-wrap.-admin-metabox.-specs {
  @include mainwrap();
  margin-top: 11px;

  ol.geditorial-specs-list {} // FOR JQUERY SELECTOR
  ul.geditorial-specs-new {} // FOR JQUERY SELECTOR

  ol {
    list-style: none !important;
    margin: 0;

    li {
      margin-bottom: 2px;
    }

    .item-head {
      border: 1px solid #dfdfdf;
      background-color: #f1f1f1;

      span.-excerpt {
        font-size: 0.89em;
        vertical-align: top;
        padding: 3px 5px 0;
        line-height: 16px;
        display: inline-block;
        cursor: pointer;
      }

      span.-handle {
        margin: 2px;
      }

      span.-delete {
        float: right;
        margin: 2px;
      }
    }

    .item-body {
      // padding: 5px 0;
      padding: 2px;
      display: none;
      border: 1px solid #dfdfdf;
      background-color: #f9f9f9;
      border-top: none;

      .field-wrap-group {
        margin: 3px 3px 2px;

        .field-wrap {}

        .-textarea {
          margin-bottom: 0;
        }
      }
    }
  }

  ul {
    margin-bottom: 0;

    .dashicons,
    .dashicons-before::before,
    .field-wrap.-inputtext,
    .field-wrap.-textarea {
      display: none;
    }
  }
}
