////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Spinner All

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
$spacer: 1rem !default;

////////////////////////////////////////////////////////////////////////////////
// front only spinner
.geditorial-spinner {

  background: url(../images/spinner-adminbar.gif) center center no-repeat;
  background-size: 16px 16px;

  display: inline-block;
  visibility: hidden;
  vertical-align: middle;

  opacity: 0.9;
  filter: alpha(opacity=90);

  width: 20px !important;
  height: 20px !important;

  margin: -2px 2px 0 2px !important;
  padding: 0;

  &.is-active {
    visibility: visible;
  }

  &[data-spinner="fade-stagger-squares"] {
    background: url(../images/spinner/fade-stagger-squares.svg) center center no-repeat;
    background-size: $spacer $spacer;

    margin: 0 !important;
    height: $spacer * .5 !important;
    width: $spacer !important;
  }
}
