////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Static Covers: Admin iFrame

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
.-wrap.geditorial-wrap.-static_covers {
  padding: $spacer 0;

  .wrap-title {
    margin: 0 $spacer;
  }

  // &.-overview-type-default {}

  .-wrap.-comments-summary,
  .-wrap.-custom-summaries,
  .-wrap.-meta-summary,
  .-wrap.-term-summary {
    margin-left: $spacer;
    margin-right: $spacer;
  }
}

