////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Subcontents: Mixins: Admin

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// `#geditorial-{MODULE}-supportedbox {}`
@mixin plugin-subcontent-datagrid-metabox-id() {
  > .inside {
    margin-top: 0 !important;
    padding: 0 !important;
  }
}

////////////////////////////////////////////////////////////////////////////////
@mixin plugin-subcontent-datagrid-table-simple() {

  // https://stackoverflow.com/a/48930521
  .wrap-base-table-simple {
    overflow-x: auto;
    table {
      white-space: nowrap;
    }
  }

  .base-table-simple {
    color: #333;
    background-color: #fff;
    padding: 1em;

    width: 100%;
    margin-bottom: 1em;
    border-collapse: collapse;

    th {
      font-weight: 700;
      text-align: left;
      background-color: #ddd;
    }

    th,
    td {
      padding: 0.5em;
      border: 1px solid #ccc;
    }

    td > p {
      margin-top: 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    th[data-key="year"] {
      width: 35px;
    }

    th[data-key="identity"] {
      width: 75px;
    }

    th[data-key="status"],
    th[data-key="type"] {
      width: 80px;
    }

    th[data-key="dob"] {
      width: 70px;
    }

    th[data-key="iban"] {
      width: 168px;
    }

    th[data-key="card"] {
      width: 120px;
    }

    th[data-key="contact"],
    th[data-key="account"] {
      width: 140px;
    }

    th[data-key="vin"],
    th[data-key="platenumber"],
    th[data-key="bankname"],
    th[data-key="fullname"],
    th[data-key="relation"] {
      width: 120px;
    }

    th[data-key="color"],
    th[data-key="carmodel"],
    th[data-key="occupation"],
    th[data-key="education"] {
      width: 220px;
    }

    td[data-key="iban"],
    td[data-key="card"],
    td[data-key="account"],
    td[data-key="contact"],
    td[data-key="identity"],
    td[data-key="dob"] {
      /*rtl:ignore*/
      text-align: left;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// `.-wrap.-admin-metabox.-{MODULE} {}`
@mixin plugin-subcontent-datagrid-metabox-wrap() {
  @include mainwrap();
  margin-top: 0 !important;

  > div table {
    max-width: 100%;
    font-size: smaller;

    p {
      font-size: inherit;
    }
  }

  > div table thead tr th {
    border-top: none;
  }

  > div table tr th,
  > div table tr td {
    &:first-of-type,
    &:last-of-type {
      border-left: none;
      border-right: none;
      margin-left: -1px;
    }
  }

  > .field-wrap.-buttons {
    margin: 0 12px 8px;
  }

  > .-description.-noaccess,
  > .-description.-empty {
    margin: 12px;
  }

  > div > .-placeholder-empty,
  > .-placeholder-empty {
    margin-bottom: 12px;
  }

  .-is-valid {
    color: $brand-success !important;
  }

  .-not-valid {
    color: $brand-danger !important;
  }
}
