////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Terms: Admin All ---------------------------------------------------

body.geditorial-terms-enabled {
  .fixed.tags {
    .column-slug {
      width: 15%;
    }

    .column-posts {
      width: 50px;

      span.-column-icon::before {
        content: "\f157";
      }
    }

    .column-geditorial-terms-order {
      width: 45px;
    }

    th.column-geditorial-terms-code {
      width: 55px;

      span.-column-icon::before {
        content: "\f475";
      }
    }

    th.column-geditorial-terms-image {
      width: 55px;

      span.-column-icon {
        margin: 0 auto;

        &::before {
          content: "\f128";
        }
      }
    }

    th.column-geditorial-terms-arrow {
      width: 22px;

      span.-column-icon::before {
        content: "\f545";
      }
    }

    th.column-geditorial-terms-barcode {
      width: 22px;

      span.-column-icon::before {
        content: "\f212";
      }
    }

    th.column-geditorial-terms-contact {
      width: 22px;

      span.-column-icon::before {
        content: "\f525";
      }
    }

    th.column-geditorial-terms-label {
      span.-column-icon::before {
        content: "\f323";
      }
    }

    .column-geditorial-terms-author,
    .column-geditorial-terms-role,
    .column-geditorial-terms-posttype {
      width: 120px;
    }

    .column-geditorial-terms-color {
      width: 50px;
    }

    td.column-geditorial-terms-arrow,
    td.column-geditorial-terms-barcode,
    td.column-geditorial-terms-contact {
      > span.field-contact,
      > span.field-contact a {
        color: $gray;
        cursor: help;

        &:hover {
          color: $gray-darker;
          text-decoration: none;
        }
      }

      .geditorial-icon svg,
      .geditorial-icon img,
      .dashicons {
        font-size: 18px;
        width: 18px;
        height: 18px;
        vertical-align: middle;
      }
    }

    td.column-geditorial-terms-image {

      padding: 10px 0 0;
      text-align: center;

      a:focus {
        box-shadow: none !important;
      }

      img {
        width: auto;
        height: auto;
        max-width: 50px; // WIDTH + HALF PADDING
        max-height: 83px; // 3:5
      }
    }

    .inline-edit-row img.-img {
      max-height: 55px;
      max-width: 55px;
      height: auto;
      width: auto;
      display: inline-block;
    }

    i.field-color {
      height: 25px;
      width: 25px;
      display: inline-block;
      border: 2px solid #eee;
      border-radius: 100%;
      cursor: help;
    }
  }
}

// img.geditorial-terms-image-img,
// .column-geditorial-terms-image img

// on addtag/edittag
#geditorial-terms-image-img {
  max-height: 125px;
  max-width: 125px;
  height: auto;
  width: auto;
  margin-bottom: 0.25em;
}
