////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Terms: Admin All

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@mixin plugin-listtable-column-icon($name, $content, $prefix: "column") {
  th.#{$prefix}-#{$name} {
    span.-column-icon::before {
      content: $content;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
body.#{$plugin}-terms-enabled {
  @include plugin-listtable-column-icon("posts", "\f157");
  @include plugin-listtable-column-icon("order", "\f156", "column-#{$plugin}-terms"); // `dashicons-sort`
  @include plugin-listtable-column-icon("code", "\f475", "column-#{$plugin}-terms");
  @include plugin-listtable-column-icon("min", "\f347", "column-#{$plugin}-terms");  // `dashicons-arrow-down-alt2`
  @include plugin-listtable-column-icon("max", "\f343", "column-#{$plugin}-terms");  // `dashicons-arrow-up-alt2`
  @include plugin-listtable-column-icon("viewable", "\f177", "column-#{$plugin}-terms");
  @include plugin-listtable-column-icon("arrow", "\f545", "column-#{$plugin}-terms");
  @include plugin-listtable-column-icon("barcode", "\f212", "column-#{$plugin}-terms");
  @include plugin-listtable-column-icon("contact", "\f525", "column-#{$plugin}-terms");
  @include plugin-listtable-column-icon("venue", "\f231", "column-#{$plugin}-terms");
  @include plugin-listtable-column-icon("label", "\f323", "column-#{$plugin}-terms");
  @include plugin-listtable-column-icon("color", "\f131", "column-#{$plugin}-terms");
  @include plugin-listtable-column-icon("border", "\f131", "column-#{$plugin}-terms");
  @include plugin-listtable-column-icon("user", "\f110", "column-#{$plugin}-terms");
  @include plugin-listtable-column-icon("author", "\f110", "column-#{$plugin}-terms");
  @include plugin-listtable-column-icon("latlng", "\f11f", "column-#{$plugin}-terms");     // `dashicons-admin-site-alt3`
  @include plugin-listtable-column-icon("source", "\f504", "column-#{$plugin}-terms");     // `dashicons-external`
  @include plugin-listtable-column-icon("embed", "\f13f", "column-#{$plugin}-terms");      // `dashicons-embed-generic`
  @include plugin-listtable-column-icon("url", "\f103", "column-#{$plugin}-terms");        // `dashicons-admin-links`
  @include plugin-listtable-column-icon("born", "\f517", "column-#{$plugin}-terms");       // `dashicons-controls-skipforward`
  @include plugin-listtable-column-icon("dead", "\f516", "column-#{$plugin}-terms");       // `dashicons-controls-skipback`
  @include plugin-listtable-column-icon("establish", "\f12a", "column-#{$plugin}-terms");  // `dashicons-yes-alt`
  @include plugin-listtable-column-icon("abolish", "\f153", "column-#{$plugin}-terms");    // `dashicons-dismiss`

  .wp-list-table.tags {
    .column-slug {
      width: 15%;
    }

    th.column-#{$plugin}-terms-image {
      span.-column-icon {
        margin: 0 auto;

        &::before {
          content: "\f128";
        }
      }
    }

    th.column-#{$plugin}-terms-dateend,
    th.column-#{$plugin}-terms-datestart,
    th.column-#{$plugin}-terms-datetime,
    th.column-#{$plugin}-terms-date {
      span.-column-icon::before {
        content: "\f508";
      }
    }

    th.column-#{$plugin}-terms-role,
    th.column-#{$plugin}-terms-roles {
      span.-column-icon::before {
        content: "\f307";
      }
    }

    th.column-#{$plugin}-terms-posttype,
    th.column-#{$plugin}-terms-posttypes {
      span.-column-icon::before {
        content: "\f109";
      }
    }

    th.column-posts {
      width: 40px; // has sort icon

      a {
        padding-left: 0;
        padding-right: 0;
      }
    }

    th.column-#{$plugin}-terms-tagline {
      // avoid messing the table header
      white-space: nowrap;
      overflow-x: hidden;
    }

    .column-#{$plugin}-terms-author,
    .column-#{$plugin}-terms-role,
    .column-#{$plugin}-terms-posttype {
      width: 80px;
    }

    .column-#{$plugin}-terms-roles,
    .column-#{$plugin}-terms-posttypes {
      width: 120px;
    }

    .column-#{$plugin}-terms-user,
    .column-#{$plugin}-terms-author,
    .column-#{$plugin}-terms-image,
    .column-#{$plugin}-terms-code {
      width: 55px;
    }

    .column-#{$plugin}-terms-min,
    .column-#{$plugin}-terms-max,
    .column-#{$plugin}-terms-order,
    .column-#{$plugin}-terms-border,
    .column-#{$plugin}-terms-color {
      width: 54px;
    }

    .column-#{$plugin}-terms-latlng,
    .column-#{$plugin}-terms-contact,
    .column-#{$plugin}-terms-barcode,
    .column-#{$plugin}-terms-arrow,
    .column-#{$plugin}-terms-viewable {
      width: 22px;

      a:not(:hover) {
        color: inherit;
      }
    }

    td.column-posts {
      text-align: center;
      padding-left: 2px;
      padding-right: 2px;
    }

    td.column-#{$plugin}-terms-viewable,
    td.column-#{$plugin}-terms-arrow,
    td.column-#{$plugin}-terms-barcode,
    td.column-#{$plugin}-terms-contact {
      // > span.field-contact,
      // > span.field-contact a {
      > span.-field,
      > span.-field a {
        color: $gray;
        cursor: help;

        &:hover {
          color: $gray-darker;
          text-decoration: none;
        }
      }

      .#{$plugin}-icon svg,
      .#{$plugin}-icon img,
      .dashicons {
        font-size: 18px;
        width: 18px;
        height: 18px;
        vertical-align: middle;
      }
    }

    td.column-#{$plugin}-terms-user,
    td.column-#{$plugin}-terms-author,
    td.column-#{$plugin}-terms-image {

      padding: 10px 0 0;
      text-align: center;

      a:focus {
        box-shadow: none !important;
      }

      img {
        width: auto;
        height: auto;
        max-width: 50px; // WIDTH + HALF PADDING
        max-height: 83px; // 3:5

        // svg may have not the width
        &[src$=".svg"] {
          width: 50px;
          /* stylelint-disable-next-line value-keyword-case */
          fill: currentColor;
        }
      }

      a {
        display: inline-block;
        &.-without-avatar {
          // avoid messing the table header
          white-space: nowrap;
          overflow-x: hidden;
        }
      }
    }

    td.column-#{$plugin}-terms-border,
    td.column-#{$plugin}-terms-color {
      padding: ($spacer * .35) ($spacer * .5);
      text-align: center;
    }

    .inline-edit-row img.-img {
      max-height: 55px;
      max-width: 55px;
      height: auto;
      width: auto;
      display: inline-block;
    }

    i.metatype-color {
      height: 25px;
      width: 25px;
      display: inline-block;
      border: 2px solid #eee;
      border-radius: 100%;
      cursor: help;
    }

    span.field-dateend,
    span.field-datestart,
    span.field-datetime,
    span.field-date {

      /*rtl:ignore*/
      direction: ltr;
      display: inline-block;
    }
  }
}

// img.#{$plugin}-terms-image-img,
// .column-#{$plugin}-terms-image img

// on addtag/edittag
##{$plugin}-terms-image-img {
  max-height: 125px;
  max-width: 125px;
  height: auto;
  width: auto;
  margin-bottom: 0.25em;
}
