////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Terms: Admin All

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@mixin plugin-listtable-column-icon($name, $content, $prefix: "column") {
  th.#{$prefix}-#{$name} {
    span.-column-icon::before {
      content: $content;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
body.geditorial-terms-enabled {
  @include plugin-listtable-column-icon("posts", "\f157");
  @include plugin-listtable-column-icon("order", "\f156", "column-geditorial-terms"); // `dashicons-sort`
  @include plugin-listtable-column-icon("code", "\f475", "column-geditorial-terms");
  @include plugin-listtable-column-icon("min", "\f347", "column-geditorial-terms"); // `dashicons-arrow-down-alt2`
  @include plugin-listtable-column-icon("max", "\f343", "column-geditorial-terms"); // `dashicons-arrow-up-alt2`
  @include plugin-listtable-column-icon("viewable", "\f177", "column-geditorial-terms");
  @include plugin-listtable-column-icon("arrow", "\f545", "column-geditorial-terms");
  @include plugin-listtable-column-icon("barcode", "\f212", "column-geditorial-terms");
  @include plugin-listtable-column-icon("contact", "\f525", "column-geditorial-terms");
  @include plugin-listtable-column-icon("label", "\f323", "column-geditorial-terms");
  @include plugin-listtable-column-icon("color", "\f131", "column-geditorial-terms");
  @include plugin-listtable-column-icon("author", "\f110", "column-geditorial-terms");

  .wp-list-table.tags {
    .column-slug {
      width: 15%;
    }

    th.column-geditorial-terms-image {
      span.-column-icon {
        margin: 0 auto;

        &::before {
          content: "\f128";
        }
      }
    }

    th.column-geditorial-terms-dateend,
    th.column-geditorial-terms-datestart,
    th.column-geditorial-terms-datetime,
    th.column-geditorial-terms-date {
      span.-column-icon::before {
        content: "\f508";
      }
    }

    th.column-geditorial-terms-role,
    th.column-geditorial-terms-roles {
      span.-column-icon::before {
        content: "\f307";
      }
    }

    th.column-geditorial-terms-posttype,
    th.column-geditorial-terms-posttypes {
      span.-column-icon::before {
        content: "\f109";
      }
    }

    .column-geditorial-terms-author,
    .column-geditorial-terms-role,
    .column-geditorial-terms-posttype {
      width: 80px;
    }

    .column-geditorial-terms-roles,
    .column-geditorial-terms-posttypes {
      width: 120px;
    }

    .column-geditorial-terms-image,
    .column-geditorial-terms-code {
      width: 55px;
    }

    .column-posts,
    .column-geditorial-terms-min,
    .column-geditorial-terms-max,
    .column-geditorial-terms-order,
    .column-geditorial-terms-color {
      width: 50px;
    }

    .column-geditorial-terms-contact,
    .column-geditorial-terms-barcode,
    .column-geditorial-terms-arrow,
    .column-geditorial-terms-viewable {
      width: 22px;
    }

    td.column-geditorial-terms-viewable,
    td.column-geditorial-terms-arrow,
    td.column-geditorial-terms-barcode,
    td.column-geditorial-terms-contact {
      > span.field-contact,
      > span.field-contact a {
        color: $gray;
        cursor: help;

        &:hover {
          color: $gray-darker;
          text-decoration: none;
        }
      }

      .geditorial-icon svg,
      .geditorial-icon img,
      .dashicons {
        font-size: 18px;
        width: 18px;
        height: 18px;
        vertical-align: middle;
      }
    }

    td.column-geditorial-terms-image {

      padding: 10px 0 0;
      text-align: center;

      a:focus {
        box-shadow: none !important;
      }

      img {
        width: auto;
        height: auto;
        max-width: 50px; // WIDTH + HALF PADDING
        max-height: 83px; // 3:5
      }
    }

    .inline-edit-row img.-img {
      max-height: 55px;
      max-width: 55px;
      height: auto;
      width: auto;
      display: inline-block;
    }

    i.field-color {
      height: 25px;
      width: 25px;
      display: inline-block;
      border: 2px solid #eee;
      border-radius: 100%;
      cursor: help;
    }

    span.field-dateend,
    span.field-datestart,
    span.field-datetime,
    span.field-date {

      /*rtl:ignore*/
      direction: ltr;
      display: inline-block;
    }
  }
}

// img.geditorial-terms-image-img,
// .column-geditorial-terms-image img

// on addtag/edittag
#geditorial-terms-image-img {
  max-height: 125px;
  max-width: 125px;
  height: auto;
  width: auto;
  margin-bottom: 0.25em;
}
