////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Today: Admin Edit

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
body.geditorial-today-enabled {
  .wp-list-table {
    th.column-theday {
      width: 80px;
    }

    td.column-theday {
      @include plugin-today-datebadge;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// .geditorial-admin-wrap.-today {}

////////////////////////////////////////////////////////////////////////////////
@media screen and ( max-width: 782px ) {
  .wp-list-table tr {

    // NOTE: columns `before` primary column must be hidden
    .column-theday {
      display: none !important;
    }

    &.is-expanded {
      td.column-theday {
        .-date-badge {
          border: none !important;
          width: 100%;

          > span {
            display: inline !important;
            padding: 0 !important;
            margin-right: .5rem;
            border: none !important;

            font-size: inherit !important;
            font-family: inherit !important;

            > a {
              display: inline !important;
            }
          }
        }
      }
    }
  }
}
