////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: Tube Front ALL ----------------------------------------

// @import '../vendor/mediaelement_source_chooser';

.-wrap.geditorial-tube-video {
  margin: 1em 0;

  .-button {
    color: $gray;
    line-height: 1.1;
    margin-right: .5em;
    padding: 5px 5px 2px 2px;
  }

  .-icon-button {
    padding: 4px 3px 3px !important;
  }

  .-iconsvg {
    width: 1.4em;
    height: 1.4em;
    vertical-align: middle;
  }
}
