////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Tweaks: Admin Post -------------------------------------------------

.inside > div.categorydiv {
  input.category-search {
    box-sizing: border-box;
    width: 100%;
    margin: 6px 0 1px;
    font-size: small;
  }
}
