////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Tweaks: Admin Edit

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.wp-list-table {
  th.column-geditorial-tweaks-id {
    width: calc(5% + #{($spacer * .25)});

    span.-column-icon::before {
      content: "\f157";
    }

    a > span {
      float: right;
    }

    .sorting-indicator {
      margin-left: 0;
      margin-right: 7px;
    }
  }

  th.column-geditorial-tweaks-order {
    width: 55px;

    span.-column-icon::before {
      content: "\f349";
    }
  }

  th.column-geditorial-tweaks-thumb {
    width: 70px;

    span.-column-icon {
      margin: 0 auto;

      &::before {
        content: "\f128";
      }
    }
  }

  td.column-geditorial-tweaks-thumb {
    padding: 10px 0 0;
    text-align: center;

    a:focus {
      box-shadow: none !important;
    }

    img {
      width: auto;
      height: auto;
      max-width: 80px; // WIDTH + HALF PADDING
      max-height: 133px; // 3:5
    }
  }

  th.column-geditorial-tweaks-thumb,
  th.column-geditorial-tweaks-id {
    span.sorting-indicators {
      margin-left: 0 !important;
    }
  }

  td.column-geditorial-tweaks-id {
    text-align: right;
    font-size: smaller;

    a {

      &:not(:hover) {
        color: inherit;
      }

      &:focus {
        box-shadow: none !important;
      }
    }
  }

  th.column-geditorial-tweaks-rows {
    width: 25%;
  }

  th.column-geditorial-tweaks-atts {
    width: 15%;
  }
}

////////////////////////////////////////////////////////////////////////////////
body.geditorial-tweaks-enabled {
  .wp-list-table {
    th.column-comments {
      width: 3.3rem;

      span.sorting-indicators {
        margin-left: 0;
      }
    }
  }
}
