////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Tweaks: Admin Edit -------------------------------------------------

body.geditorial-tweaks-enabled {
  .fixed {
    .column-comments {
      width: 3.5em;
    }

    .column-geditorial-tweaks-rows {
      width: 25%;
    }

    .column-geditorial-tweaks-atts {
      width: 15%;
    }

    .column-geditorial-tweaks-id {
      font-size: small;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.geditorial-admin-wrap-column.-tweaks {}
