////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Tweaks: Admin Post -------------------------------------------------

.inside > div.categorydiv {
  input.category-search {
    margin-top: 6px;
    width: 99%;
  }
}

.geditorial-wordcount-wrap {
  .geditorial-wordcount {
    display: none;
    margin: 1px 0 -10px 0;
    padding: 0 2px;
    font-size: 10px;
    color: $gray-light;

    // .-words {}
    // .-chars {}
  }
}
