////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: UploadArea: Mixins: Admin

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@mixin plugin-uploadarea-container() {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .upload-button {
    width: 100%;
    cursor: pointer;
    text-align: center;
    border: 1px dashed #c3c4c7;
    box-sizing: border-box;
    padding: 9px 0;
    line-height: 1.6;
    // max-width: 270px;

    &:hover {
      background: #fff;
    }
  }

  select.upload-destination + .chosen-container a.chosen-single,
  select.upload-destination {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  select.upload-destination + .chosen-container {
    margin: 0;
  }
}

////////////////////////////////////////////////////////////////////////////////
