////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Uploader: Admin: Dashboard

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
#geditorial-uploader-largefile { // dashbard widget
  .inside {
    > .-description {
      margin-bottom: 10px;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
.geditorial-wrap.-uploader.-widget-form {
  form {
    background: #fafafa;
    border: 1px dashed #e5e5e5;
    border-radius: 2px;
    padding: 10px;
    // margin: 5px 0;
    // max-width: 380px;

    .-loading {
      margin: 0;
    }

    .-messages {
      margin-bottom: 20px;
      text-align: center;
      color: $gray-light;
      font-size: smaller;
    }

    input[type="file"] {
      padding: 0;
      margin: 0;
    }

    input[type="submit"] {
      float: right;
      // vertical-align: bottom;
    }

    .-filename {

      /*rtl:ignore*/
      direction: ltr;
      display: block;
      width: 100%;
      // overflow: hidden;
      margin-top: 1em;
      box-sizing: border-box;
    }
  }

  // + .-description {
  //   margin: -0.2em 0 0 0;
  //   text-align: right;
  // }
}
