////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Users: Admin: Users

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.wp-list-table {
  th.column-geditorial-users-counts {
    width: 185px;
  }

  td.column-geditorial-users-counts {
    padding-top: 4px;

    table {
      direction: ltr;

      td {
        padding: 0 0 2px !important;

        code {
          cursor: pointer;
          display: inline !important;
        }

        &.-val {
          text-align: right;
        }
      }
    }
  }
}
