////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Users: Admin: Users ------------------------------------------------

.fixed {

  th.column-counts {
    width: 220px;
  }

  .column-counts {
    table td {
      padding: 0 0 2px;

      code {
        cursor: pointer;
      }
    }
  }
}
