////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Users: Admin: Users ------------------------------------------------

.fixed {
  th.column-geditorial-users-counts {
    width: 105px;
  }

  .column-geditorial-users-counts {
    table td {
      padding: 0 0 2px !important;

      code {
        cursor: pointer;
        display: inline !important;
      }
    }
  }
}
