////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Users: Admin: Dashboard --------------------------------------------

.geditorial-wrap.-admin-widget.-contacts {
  .-wrap.-avatar {
    display: inline-block;
    float: right;
    margin: 0 0 5px 5px;

    img {
      border-radius: 50%;
    }
  }
}
