////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Users: Admin: Dashboard --------------------------------------------

.geditorial-admin-wrap-widget {

  .-wrap.-avatar {
    display: inline-block;
    float: right;
    margin: 0 0 5px 5px;
  }
}
