////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: WC Traqcking: Admin Edit

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.widefat .column-wc_actions {
  a.button.geditorial-wc-tracking {
    padding: 4px 2px 0 2px !important;
    width: 28px;

    img {
      width: 18px;
    }
  }
}
