////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: WC Postal: Admin WooCommerce

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Admin Edit
.widefat .column-wc_actions {
  a.button.geditorial-wc-postal-tracking {
    padding: 5px 4px 0 !important;
    width: 28px;

    img {
      width: 12px;
      height: auto;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
/// Admin Post
.geditorial-wrap.-wc_postal {
  &.form-field {
    img.-before-icon {
      width: 12px;
      height: auto;
      vertical-align: text-top;
    }

    // &.-tracking {}
  }
}
