////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gEditorial Partials: WC Terms: WooCommerce

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// NOTE: only on non-bootstrap
body:not(.theme-based-bootstrap-v5) {

  .-wrap.row.-term-introduction {

    .-term-details {
      text-align: left;
    }

    .-term-description {
      p:last-of-type {
        margin-bottom: 0;
      }
    }

    .-term-thumbnail {
      float: left;
      width: 35%;
      margin: 0 $spacer $spacer 0;
      text-align: center;

      img {
        display: inline-block;
      }
    }

    .-term-has-image {
      padding-left: $spacer;
      width: calc( 65% - #{$spacer} );
      float: right;
      clear: right;
    }

    @include theme-clearfix;
  }
}

@media screen and ( max-width: 782px ) {
  body:not(.theme-based-bootstrap-v5) {
    .-wrap.row.-term-introduction {

      .-term-image {
        max-height: $spacer * 12.5;
      }

      .-term-thumbnail,
      .-term-has-image {
        float: none;
        width: 100%;
        margin: 0 0 $spacer 0;
        padding: 0;
      }
    }
  }
}
