<div class="entry-modified d-flex flex-nowrap justify-content-start align-items-start mt-5 mb-3 py-4 gap-5 border-top border-bottom border-secondary-subtle">

	{{#data.blocks}}
		<div class="block-{{context}} {{wrapclass}}">
		{{#text}}
			<h6 class="-label mt-0 fs-6 fw-bolder text-secondary"
				title="{{title}}"
				>{{{text}}}</h6>
		{{/text}}
		{{#date}}
			<div class="-date fs-5 text-secondary-emphasis">
				<time
				class="do-timeago"
				title="{{fulltime}}"
				datetime="{{datetime}}"
				>{{date}}</time></div>
		{{/date}}
		</div>
	{{/data.blocks}}

	<div class="-actions ms-auto d-flex flex-column align-items-end">
		{{#data.actions}}
			{{#link}}
				{{#datetime}}
					<a href="{{link}}" rel="nofollow"><span class="badge {{class}}"><time title="{{title}}" datetime={{{datetime}}}>{{text}}</time></span></a>
				{{/datetime}}
				{{^datetime}}
					<a href="{{link}}" rel="nofollow"><span class="badge {{class}}" title="{{title}}">{{text}}</span></a>
				{{/datetime}}
			{{/link}}
			{{^link}}
				{{#datetime}}
					<span class="badge {{class}}"><time title="{{title}}" datetime={{{datetime}}}>{{text}}</time></span>
				{{/datetime}}
				{{^datetime}}
					<span class="badge {{class}}" title="{{title}}">{{text}}</span>
				{{/datetime}}
			{{/link}}
		{{/data.actions}}
	</div>

</div>
