<div class="-wrap -comments-summary"><table class="table table-bordered">
	{{#comments_rendered}}
		<tr>
			<td class="-comment-date">{{{date_rendered}}}</td>
			<td class="-comment-author">{{{author_rendered}}}</td>
			<td class="-comment-content">{{{content_rendered}}}</td>
		</tr>
	{{/comments_rendered}}
</table></div>
