<div class="-wrap -meta-summary"><table class="table table-bordered">
	{{#meta_rendered}}
		<tr class="-meta-{{name}}"><td>{{title}}</td><td>{{{rendered}}}</td></tr>
	{{/meta_rendered}}
</table></div>
